<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{${hrPolicies.banner_url}}]]);
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1 class="split-collab-words">[[${ hrPolicies.getTitle(#locale.language) }]]</h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="hr_policies_page py-5">
        <div class="container">
          <h1 class="title split-collab-words" style="opacity: 1">
            [[${ attractTalent.getTitle(#locale.language) }]]
          </h1>
          <hr />
          <div class="mt-5">
            <div class="row gx-0 align-items-center content">
              <div class="col-lg-7 center">
                <img
                  th:src="@{${attractTalent.image_general_image}}"
                  class="img-fluid center"
                  alt="Techgel"
                />
              </div>
              <div class="col-lg-5">
                <div class="p-4 text-justify" th:utext="${ attractTalent.getGeneralContent(#locale.language) }">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container hr-policies-void py-5">
        <div class="text-center lh-base description" th:utext="${ attractTalent.getDescription(#locale.language) }">
        </div>
        <div class="list">
          <div class="cardd" th:each="item: ${attractTalentItemsList}">
            <div class="face face1">
              <div class="content">
                <img th:src="@{${item.image_url}}">
                <h5>[[${ #strings.toUpperCase(item.getTitle(#locale.language)) }]]</h5>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>[[${ item.getContent(#locale.language) }]]</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="career_development_page pt-5">
        <div class="container">
          <h1 class="title split-collab-words" style="opacity: 1">
            [[${ humanResourceDevelopment.getTitle(#locale.language) }]]
          </h1>
          <hr />
          <div class="mt-5">
            <div
              class="row gx-md-5 d-flex align-items-center-justify-content-center"
            >
              <div class="col-lg-4 col-8 order-lg-1 d-flex align-items-center justify-content-center">
                <div class="img_mep mb-3">
                  <div class="logo-area-start">
                    <a class="logo" href="/">
                      <img
                        width="300"
                        height="75"
                        th:src="@{/imgs/logos/logo-white.png}"
                        alt="Techgel Logo"
                        class="only-dark"
                      />
                      <img
                        width="300"
                        height="75"
                        th:src="@{/imgs/logos/logo.jpg}"
                        alt="Techgel Logo"
                        class="only-light"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 order-lg-0">
                <div class="text-justify">
                  [[${ humanResourceDevelopment.getLeftContent(#locale.language) }]]
                </div>
              </div>
              <div class="col-lg-4 order-lg-2">
                <div class="text-justify mb-3">
                  [[${ humanResourceDevelopment.getRightContent(#locale.language) }]]
                </div>
                <a th:href="@{/careers/job-opportunities}" class="read_more">[[#{ join_us }]]</a>
              </div>
            </div>
          </div>
        </div>
        <div class="objectives py-5 mt-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-10" th:utext="${humanResourceDevelopment.getDescription(#locale.language)}">

              </div>
            </div>
            <div class="row gx-0">
              <div class="col-md-4" th:each="item: ${humanResourceDevelopmentItemsList}">
                <div class="traning_step">
                  <div class="inner">
                    <div class="img">
                      <img
                        th:src="@{${item.image_url}}"
                        class="img-fluid"
                        alt=""
                        draggable="false"
                      />
                    </div>
                    <div class="num fs-30 fw-bold">0[[${item.orderNumber}]]</div>
                    <div class="text-justify">
                      [[${ item.getContent(#locale.language) }]]
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="col-md-4">-->
<!--                <div class="traning_step">-->
<!--                  <div class="inner">-->
<!--                    <div class="img">-->
<!--                      <img-->
<!--                        src="/imgs/small-icons/good-feedback.png"-->
<!--                        class="img-fluid"-->
<!--                        alt=""-->
<!--                        draggable="false"-->
<!--                      />-->
<!--                    </div>-->
<!--                    <div class="num fs-30 fw-bold">02</div>-->
<!--                    <div class="text-justify">-->
<!--                      TECHGEL xây dựng một hệ thống đánh giá công việc công tâm,-->
<!--                      khách quan nhằm tạo điều kiện tối đa cho việc nâng cao-->
<!--                      hiệu suất làm việc và phát triển tài năng, nhân cách đối-->
<!--                      với các cá nhân được quy hoạch lên Quản lý cấp trung; Lãnh-->
<!--                      đạo kế thừa. Qua đó, nhằm tạo điều kiện để tất cả CBNV đều-->
<!--                      có cơ hội thăng tiến và phát triển sự nghiệp một cách bình-->
<!--                      đẳng tại Công ty.-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-4">-->
<!--                <div class="traning_step">-->
<!--                  <div class="inner">-->
<!--                    <div class="img">-->
<!--                      <img-->
<!--                        src="/imgs/small-icons/labor.png"-->
<!--                        class="img-fluid"-->
<!--                        alt=""-->
<!--                        draggable="false"-->
<!--                      />-->
<!--                    </div>-->
<!--                    <div class="num fs-30 fw-bold">03</div>-->
<!--                    <div class="text-justify">-->
<!--                      Tất cả CBNV sau khi ký hợp đồng lao động có thời hạn với-->
<!--                      Công ty sẽ được tham dự các lớp đào tạo nghiệp vụ ngắn-->
<!--                      hạn, trung hạn theo kế hoạch đào tạo hàng năm hoặc đào tạo-->
<!--                      đột xuất theo yêu cầu cấp thiết của mỗi đơn vị.-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="text-center mt-3 mb-md-5">
              <a th:href="@{/careers/job-opportunities}" class="read_more"
                >[[#{ join_us }]]</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
