<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="copyright">
        <div class="copyright-area-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-wrapper d-flex justify-content-lg-between">
                            <p>© Copyright 2025. All Rights Reserved by <a href="#">Techgel</a></p>
                            <div class="term d-flex justify-center align-items-center" style="gap: 20px;">
                                <a href="">Terms & Conditions</a>
                                <a href="">Privacy policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>