<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div th:fragment="footer">
      <style>
        .bg-color-footer {
          background-color: var(--black);
          background-image: url([[@{/imgs/footer-01.png}]]);
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
      <footer
        class="footer-area footer-style-one-wrapper bg-color-footer bg_images"
        style="padding: 3.125rem 0"
      >
        <div class="container">
          <div class="footer-main footer-style-one">
            <div class="row g-5">
              <div class="col-lg-4 col-md-6">
                <div
                  class="single-footer-wrapper border-right mr--20 hide-border-responsive"
                >
                  <div class="logo">
                    <a
                      href="/"
                      style="
                        color: white;
                        text-transform: uppercase;
                        font-size: 1.5625rem;
                      "
                    >
                      <!--<img th:src="@{/imgs/logo-footer.png}" width="200" alt="Techgel Logo">-->
                      Công ty CP Kỹ thuật Công nghệ Sài Gòn
                    </a>
                  </div>
                  <div class="day-time">
                    <div class="icon"><i class="fa-solid fa-clock"></i></div>
                    <div class="content">
                      <div class="day">Thứ Hai - Thứ 7:</div>
                      <div class="time">8:00 – 17:00</div>
                    </div>
                  </div>
                  <ul
                    class="social-icons solid-social-icons rounded-social-icons"
                  >
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6">
                <div class="single-footer-wrapper pl_md--0 pl_sm--0">
                  <h5 class="ft-title">Liên kết nhanh</h5>
                  <ul class="ft-link">
                    <li th:each="nav: ${homeNavigations}">
                      <a th:href="@{${nav.slug}}">[[${nav.title_vi}]]</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="single-footer-wrapper pr--15">
                  <h5 class="ft-title">Bài viết gần đây</h5>

                  <div th:each="recent, iter: ${recentNews}" class="single-post" th:if="${iter.index < 2}">
                    <div class="thumbnail">
                      <img
                        th:src="@{${recent.image_url}}"
                        th:alt="${recent.title_vi}"
                      />
                    </div>
                    <div class="content">
                      <div class="date">
                        <i class="fa-solid fa-calendar-days"></i
                        ><span>[[${#temporals.format(recent.updatedAt, 'dd/MM/yyyy')}]]</span>
                      </div>

                      <a th:href="@{'/news-details/' + ${recent.id}}">
                        <h5 class="title">[[${ recent.title_vi }]]</h5>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="single-footer-wrapper">
                  <h5 class="ft-title">Official info:</h5>
                  <ul class="ft-link">
                    <li class="ft-location">
                      30 Phan Chu Trinh, Phường 2, Bình Thạnh, Hồ Chí Minh
                    </li>

                    <li>
                      <div class="single-contact">
                        <div class="icon">
                          <i class="fa-solid fa-envelope-open-text"></i>
                        </div>

                        <div class="content">
                          <span>E-mail:</span>
                          <a href="mailto:webmaster@example.com"
                            >info@techgel.com</a
                          >
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="single-contact">
                        <div class="icon">
                          <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="content">
                          <span>Phone:</span>
                          <a href="tel:+4733378901">028 3510 7030</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div th:replace="~{clients/footer/copyright :: copyright}"></div>
    </div>
  </body>
</html>
