<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
    />
    <title>[[${title}]] - [[${ SITE_NAME }]]</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Slick -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" th:href="@{/css/admin-style.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-dashboard-style.css}" />
    <link rel="stylesheet" th:href="@{/css/_animations.css}" />

    <link rel="stylesheet" th:href="@{/css/variable.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />

    <link
      rel="stylesheet"
      href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0"
    />

    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <th:block th:fragment="script">
      <script
        src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"
      ></script>
      <script
        src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"
      ></script>

      <script
        src="https://adminlte.io/themes/v3/dist/js/adminlte.js?v=3.2.0"
      ></script>

      <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
      <script
        src="https://unpkg.com/jquery-filepond/filepond.jquery.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-file-rename/dist/filepond-plugin-file-rename.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"
      ></script>
      <script
        src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"
      ></script>

      <script th:src="@{/js/admin-main.js}"></script>
    </th:block>


    <th:block th:fragment="delete_modal">
        <div id="delete-action-confirmation" class="modal fade" tabindex="-1" aria-labelledby="delete-action-confirmation-title" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delete-action-confirmation-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to perform this action?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="delete-action-confirmation-submit-button" class="btn btn-primary float-right">
                            Yes
                        </button>
                        <span class="btn btn-default float-right margin-r-5" data-dismiss="modal">No, cancel</span>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="loading">
        <div class="loading">
            <div class="shapes-4"></div>
            <div class="classic-1"></div>
        </div>
    </th:block>
</body>
</html>
