<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="sidebar">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a th:href="@{/webadmin}" class="brand-link navbar-dark logo-switch">
                <img th:src="@{/imgs/logo.jpg}" alt="Techgel Logo" class="brand-image-xl logo-xl">
                <img src="https://admin-demo.nopcommerce.com/css/admin/images/logo-mini.png" alt="logo.png" class="brand-image-xs logo-xs">
            </a>
            <div class="sidebar" style="overflow-y: auto;">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Trang chủ
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/webadmin/home/navigation}" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Navigation </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Category/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> E-Brochure </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Carousel </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Về chúng tôi </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Lĩnh vực hoạt động </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Quy trình làm việc </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Dự án </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Thành tựu </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Đội ngũ </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Carousel </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Footer </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Copyright </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Giới thiệu
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Product/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Navigation </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Category/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> E-Brochure </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Manufacturer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Carousel </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>
                                    Dự án
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Order/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Orders</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Order/ShipmentList" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Shipments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/ReturnRequest/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Return requests</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/RecurringPayment/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Recurring payments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/GiftCard/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Gift cards</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/ShoppingCart/CurrentCarts" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Shopping carts and wishlists</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-user"></i>
                                <p>
                                    Tin tức
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Customer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Customers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/CustomerRole/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Customer roles</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/OnlineCustomer/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Online customers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Vendor/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Vendors</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/ActivityLog/ActivityLogs" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Activity log</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/ActivityLog/ActivityTypes" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Activity Types</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Customer/GdprLog" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> GDPR requests (log)</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tags"></i>
                                <p>
                                    Dịch vụ
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Discount/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Discounts</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Affiliate/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Affiliates</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/NewsLetterSubscription/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Newsletter subscribers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Campaign/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Campaigns</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cubes"></i>
                                <p>
                                    Tuyển dụng
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Topic/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Topics (pages)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/MessageTemplate/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Message templates</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/News/NewsItems" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> News items</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/News/NewsComments" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> News comments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Blog/BlogPosts" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Blog posts</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Blog/BlogComments" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Blog comments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Poll/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Polls</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Forum/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Forums</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Liên hệ
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p>
                                            Settings
                                            <i class="right fas fa-angle-left "></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/GeneralCommon" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> General settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/CustomerUser" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Customer settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Order" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Order settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Shipping" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Shipping settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Tax" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Tax settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Catalog" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Catalog settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/ShoppingCart" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Shopping cart settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/RewardPoints" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Reward points</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Gdpr" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> GDPR settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Vendor" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Vendor settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Blog" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Blog settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/News" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> News settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Forum" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Forum settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/Media" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> Media settings</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Setting/AllSettings" class="nav-link">
                                                <i class="nav-icon far fa-circle"></i>
                                                <p> All settings (advanced)</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/EmailAccount/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Email accounts</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Admin/Store/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Stores</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Country/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Countries</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Language/List" class="nav-link">
                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p> Languages</p>
                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Currency/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Currencies</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Payment/Methods" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Payment methods</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Payment/MethodRestrictions" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Payment restrictions</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Tax/Providers" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Tax providers</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Tax/Categories" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Tax categories</p>

                                    </a>
                                </li>

                                <li class="nav-item has-treeview">

                                    <a href="#" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p>
                                            Shipping
                                            <i class="right fas fa-angle-left "></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">

                                            <a href="/Admin/Shipping/Providers" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Shipping providers</p>

                                            </a>
                                        </li>

                                        <li class="nav-item">

                                            <a href="/Admin/Shipping/Warehouses" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Warehouses</p>

                                            </a>
                                        </li>

                                        <li class="nav-item">

                                            <a href="/Admin/Shipping/PickupPointProviders" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Pickup points</p>

                                            </a>
                                        </li>

                                        <li class="nav-item">

                                            <a href="/Admin/Shipping/DatesAndRanges" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Dates and ranges</p>

                                            </a>
                                        </li>

                                        <li class="nav-item">

                                            <a href="/Admin/Measure/List" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Measures</p>

                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Zettle/Configure" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> PayPal Zettle (POS)</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Security/Permissions" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Access control list</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Widget/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Widgets</p>

                                    </a>
                                </li>

                                <li class="nav-item has-treeview">

                                    <a href="#" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p>
                                            Authentication
                                            <i class="right fas fa-angle-left "></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">

                                            <a href="/Admin/Authentication/ExternalMethods" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> External authentication</p>

                                            </a>
                                        </li>

                                        <li class="nav-item">

                                            <a href="/Admin/Authentication/MultiFactorMethods" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Multi-factor authentication</p>

                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item has-treeview">

                                    <a href="#" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>
                                        <p>
                                            PayPal Commerce
                                            <i class="right fas fa-angle-left "></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">

                                            <a href="/Admin/PayPalCommerce/Configure" class="nav-link">

                                                <i class="nav-icon far fa-circle"></i>

                                                <p> Configuration</p>

                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">

                                    <a href="https://admin-demo.nopcommerce.com/Admin/NopMobileApp/Configure" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Mobile App</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="https://admin-demo.nopcommerce.com/Admin/OmnibusDirective/Configure" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> EU Omnibus Directive</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="https://admin-demo.nopcommerce.com/Admin/WebApiFrontend/Configure" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Web API Frontend</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="https://admin-demo.nopcommerce.com/Admin/Lucene/Configure" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Lucene search provider</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Plugin/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Local plugins</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Plugin/OfficialFeed" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> All plugins and themes</p>

                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">

                            <a href="#" class="nav-link">

                                <i class="nav-icon fas fa-cube"></i>
                                <p>
                                    Quản lý
                                    <i class="right fas fa-angle-left "></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">

                                    <a href="/Admin/Common/SystemInfo" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> System information</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Log/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Log</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Common/Warnings" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Warnings</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Common/Maintenance" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Maintenance</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/QueuedEmail/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Message queue</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/ScheduleTask/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Schedule tasks</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Common/SeNames" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Search engine friendly page names</p>

                                    </a>
                                </li>

                                <li class="nav-item">

                                    <a href="/Admin/Template/List" class="nav-link">

                                        <i class="nav-icon far fa-dot-circle"></i>

                                        <p> Templates</p>

                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </th:block>
</body>
</html>