<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/tech-field.jpg}]]);
        }

        .bg-1 {
          background-image: url([[@{/imgs/bg-01.jpg}]]);
        }

        .line_img {
          height: .625rem;
          background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center /
            auto 200%;
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1>LĨNH VỰC HOẠT ĐỘNG</h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="whatwedo_page py-5">
        <div class="container">
          <div class="general">
            <div class="row gx-0 align-items-center">
              <div class="col-md-6 order-md-1">
                <div class="img_full">
                  <img
                    th:src="@{/imgs/business-line/safety-handshake.jpg}"
                    class="img-fluid"
                    alt=""
                    draggable="false"
                  />
                </div>
              </div>
              <div class="col-md-6 order-md-0">
                <div class="content text-justify">
                  <h3 class="fs-30 fw-bold business-line header">Tổng Thầu</h3>
                  <p class="business-line paragraph">
                    TECHGEL hoạt động trong lĩnh vực nghiên cứu, ứng dụng và
                    chuyển giao các giải pháp kỹ thuật – công nghệ nhằm hỗ trợ
                    tiến trình hiện đại hoá và phát triển bền vững tại Việt Nam.
                    Chúng tôi tập trung triển khai toàn diện các dự án từ khâu
                    khảo sát, thiết kế, triển khai công nghệ đến vận hành và đào
                    tạo, đặc biệt trong các lĩnh vực công nghiệp, xây dựng, năng
                    lượng và hạ tầng kỹ thuật.
                  </p>
                  <p class="business-line paragraph">
                    Với năng lực tích hợp đa ngành, hệ thống quản trị bài bản,
                    đội ngũ kỹ sư và chuyên gia giàu kinh nghiệm, cùng sự chủ
                    động trong việc làm chủ công nghệ, TECHGEL cam kết mang đến
                    cho khách hàng và đối tác:
                  </p>
                  <ul class="business-line list">
                    <li>Các giải pháp tối ưu, phù hợp với thực tiễn.</li>
                    <li>Đảm bảo tiến độ và chất lượng triển khai.</li>
                    <li>
                      Giảm thiểu chi phí đầu tư mà vẫn đảm bảo hiệu quả vận
                      hành.
                    </li>
                  </ul>
                  <div class="business-line-quality-icon wrapper">
                    <div class="business-line-quality-icon icon" >
                    <img
                      th:src="@{/imgs/sustainable-development.png}"
                      alt=""
                      width="100"
                    />
                    <span>Tối ưu</span>
                    </div>
                     <div class="business-line-quality-icon icon" >
                    <img
                      th:src="@{/imgs/badge.png}"
                      alt=""
                      width="100"
                    />
                    <span>Chất lượng</span>
                  </div>
                    <div class="business-line-quality-icon icon" >
                      <img
                        th:src="@{/imgs/responsibility.png}"
                        alt=""
                        width="100"
                      />
                      <span>Đảm bảo</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="obl-area tmp-section-gap about-style-one mb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head p-0">
                <h4 class="section-sub-title center-title split-collab-chars">
                  <img
                    data-sal-delay="200"
                    data-sal="fade"
                    data-sal-duration="800"
                    th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                    alt="Techgel"
                  />
                  <span class="subtitle">[[${ homeOurBusinessLine.title_vi }]]</span>
                </h4>
              </div>
            </div>
          </div>

          <div class="row my-5">
            <div th:each="service: ${whatWeDoServices}" style="height: 31.25rem" class="col-lg-6 d-flex my-5">
              <a
                data-sal-delay="250"
                data-sal="zoom-in"
                data-sal-duration="800"
                class="flex justify-content-end"
                th:href="@{/what-we-do/our-business-line-details(id=${service.id})}"
              >
                <div class="obl-card">
                  <div class="wrapper">
                    <img
                      th:src="${service.image_url}"
                      class="cover-image"
                    />
                    <p class="obl-card-title text-center font-weight-bold text-uppercase">
                      [[${ service.title_vi }]]
                    </p>
                  </div>
                  <img
                    th:src="@{${service.image_popup_url}}"
                    class="character"
                  />
                </div>
              </a>
              <ol class="olcards">
                <li th:each="subService: ${service.getWhatWeDoServiceItems()}"
                  style="--cardColor: #162d59"
                  data-sal-delay="350"
                  data-sal="slide-right"
                  data-sal-duration="800"
                >
                  <a class="content text-white" th:href="@{'/what-we-do/our-business-line-details?id=' + ${service.id} + '#' + ${subService.id}}">
                    <div class="icon"></div>
                    <div class="text">[[${ subService.title_vi }]]</div>
                  </a>
                </li>
              </ol>
            </div>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>
