<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{${whatWeDoOurBusinessLine.banner_url}}]]);
        }

        .bg-1 {
          background-image: url([[@{/imgs/bg-01.jpg}]]);
        }

        .line_img {
          height: .625rem;
          background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center /
            auto 200%;
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1 class="split-collab-words">[[${ whatWeDoOurBusinessLine.getTitle(#locale.language) }]]</h1>
            </div>
          </div>
        </div>
      </div>

<!--      <div id="next" class="whatwedo_page py-5">-->
<!--        <div class="container">-->
<!--          <div class="general">-->
<!--            <div class="row gx-0 align-items-center">-->

<!--              <div class="col-md-12 order-md-0">-->
<!--                <div class="content text-justify" th:utext="${ whatWeDoOurBusinessLine.getGeneralIntroduction(#locale.language) }">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="obl-area tmp-section-gap about-style-one mb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head p-0">
                <h4 class="section-sub-title center-title split-collab-words">
                  <span class="subtitle">
                    <img
                            data-sal-delay="200"
                            data-sal="fade"
                            data-sal-duration="800"
                            th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                            alt="Techgel"
                    />
                    [[${ whatWeDoOurBusinessLine.getTitle(#locale.language) }]]</span>
                </h4>
              </div>
            </div>
          </div>

          <div class="row my-5">
            <div th:each="service: ${whatWeDoServices}" style="height: 31.25rem" class="col-lg-6 d-flex my-5 justify-content-center">
              <a
                data-sal-delay="250"
                data-sal="zoom-in"
                data-sal-duration="800"
                class="flex justify-content-end"
                th:href="@{/what-we-do/our-business-line-details(id=${service.id})}"
              >
                <div class="obl-card active">
                  <div class="wrapper">
                    <img
                      th:src="${service.image_url}"
                      class="cover-image"
                    />
                    <p class="obl-card-title text-center font-weight-bold text-uppercase">
                      [[${ service.getTitle(#locale.language) }]]
                    </p>
                  </div>
                  <img
                    th:src="@{${service.image_popup_url}}"
                    class="character"
                  />
                </div>
              </a>
              <ol class="olcards">
                <li th:each="subService: ${service.getWhatWeDoServiceItems()}"
                  style="--cardColor: #162d59"
                  data-sal-delay="350"
                  data-sal="slide-right"
                  data-sal-duration="800"
                >
                  <a class="content text-white" th:href="@{'/what-we-do/our-business-line-details?id=' + ${service.id} + '#' + ${subService.id}}">
                    <div class="icon"></div>
                    <div class="text">[[${ subService.getTitle(#locale.language) }]]</div>
                  </a>
                </li>
              </ol>
            </div>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>
