<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/growth-sustain.png}]]);
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1 class="split-collab-words">PHÁT TRIỂN BỀN VỮNG</h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="sd-area">
        <div class="quote">
          <div
            class="quote-content"
            data-sal-delay="200"
            data-sal="flip-down"
            data-sal-duration="800"
          >
            <h2 class="pb-3">
              KINH DOANH BỀN VỮNG THIẾT LẬP NỀN TẢNG CHO CỘNG ĐỒNG THỊNH VƯỢNG
            </h2>
            <h3>Từ kế hoạch trên giấy đến hành động thực tiễn.</h3>
            <h3>Từ ý niệm ban đầu đến tính cam kết dài lâu.</h3>
            <h3>Đó là cách chúng tôi nói, hiểu và làm</h3>
            <h3>về <i>PHÁT TRIỂN BỀN VỮNG.</i></h3>
          </div>
        </div>

        <div class="commit-page tmp-section-gap">
          <div class="container">
            <div
              class="heading d-flex flex-column justify-content-center align-items-center px-5"
              style="gap: 15px"
            >
              <h1
                class="title text-center split-collab text-white"
                style="opacity: 1"
              >
                <span>Cam kết phát triển bền vững</span>
              </h1>
              <div
                data-sal-delay="200"
                data-sal="zoom-in"
                data-sal-duration="800"
              >
                <p class="text-white" style="text-align: center">
                  Thế giới ngày càng phụ thuộc vào các Công ty đưa ra các lựa
                  chọn phát triển bền vững.
                </p>
                <p class="text-white" style="text-align: center">
                  Techgel nhận thức được trách nhiệm đúng đắn sứ mệnh cộng giá
                  trị cho các bên liên quan – khách hàng, đối tác, môi trường,
                  cộng đồng, quốc gia, và toàn cầu nói chung cũng như sự phát
                  triển của mỗi con người trong tổ chức nói riêng.
                </p>
              </div>
            </div>
            <div
              class="all"
              data-sal-delay="200"
              data-sal="slide-down"
              data-sal-duration="800"
            >
              <div
                class="lefter scroll-btn"
                data-target="commitment-to-employees"
                style="--bg: url(/imgs/sustainable-development/emp.jpg)"
              >
                <div class="text">Cam kết với Người lao động</div>
              </div>
              <div
                class="left scroll-btn"
                style="--bg: url(/imgs/sustainable-development/shareholder.jpg)"
                data-target="commitment-to-shareholders"
              >
                <div class="text">Cam kết với Cổ đông</div>
              </div>
              <div class="center">
                <div class="explainer">
                  <span style="font-weight: 500"
                    >CAM KẾT PHÁT TRIỂN BỀN VỮNG</span
                  >
                </div>
              </div>
              <div
                class="right scroll-btn"
                data-target="commitment-to-partners"
                style="--bg: url(/imgs/sustainable-development/partners.jpg)"
              >
                <div class="text">Cam kết với Đối tác</div>
              </div>
              <div
                class="righter scroll-btn"
                data-target="commitment-to-community-society"
                style="--bg: url(/imgs/sustainable-development/esg.jpg)"
              >
                <div class="text">Cam kết với Cộng đồng & Xã hội</div>
              </div>
            </div>

            <div class="mobile">
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-employees"
                style="--bg: url(/imgs/sustainable-development/emp.jpg)"
              >
                <span>Cam kết với Người lao động</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-shareholders"
                style="--bg: url(/imgs/sustainable-development/shareholder.jpg)"
              >
                <span>Cam kết với Cổ đông</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-partners"
                style="--bg: url(/imgs/sustainable-development/partners.jpg)"
              >
                <span>Cam kết với Đối tác</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-community-society"
                style="--bg: url(/imgs/sustainable-development/esg.jpg)"
              >
                <span>Cam kết với Cộng đồng & xã hội</span>
              </div>
            </div>
          </div>
        </div>

        <div class="commit-page-details py-5">
          <div class="container">
            <ul>
              <li
                id="commitment-to-employees"
                style="--accent-color: #41516c"
                data-sal-delay="200"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI NGƯỜI LAO ĐỘNG</div>
                <div class="descr">
                  Mọi đổi thay, phát kiến và cam kết đối với sự phát triển chung
                  đều đến từ sự đóng góp của những cá nhân tài năng. Công ty đề
                  ra chiến lược mới trong việc hoạch định và tuyển dụng nguồn
                  nhân lực, trong đó tập trung xây dựng một thương hiệu Nhà
                  tuyển dụng bền vững. Hướng tới xây dựng môi trường làm việc
                  ngày một công bằng và phát triển, Công ty chú trọng sự ổn định
                  trong công việc cho người lao động, các cơ hội phát triển nghề
                  nghiệp, chế độ phúc lợi, chế độ bảo vệ sức khỏe cho người lao
                  động, đào tạo nâng cao, ban hành nhiều chính sách thưởng hiệu
                  quả vượt trội nhằm nâng cao năng suất người lao động, mạnh dạn
                  đề bạt và bổ nhiệm các nhân tố mới, trao cơ hội để các nhân sự
                  tài năng thử sức, phát triển các chương trình giữ chân nhân
                  tài, thúc đẩy đội ngũ luôn trong tâm thế sẵn sàng chinh phục
                  từng nấc thang sự nghiệp.
                </div>
              </li>
              <li
                id="commitment-to-shareholders"
                style="--accent-color: #fbca3e"
                data-sal-delay="200"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI CỔ ĐÔNG</div>
                <div class="descr">
                  Cùng với văn hoá minh bạch luôn được chú trọng giữ gìn, lợi
                  ích của cổ đông luôn được Công ty thực hiện đúng cam kết bằng
                  việc duy trì một tỷ lệ chi trả cổ tức ổn định. Không dừng ở
                  việc luôn tuân thủ các quy định về công bố thông tin của một
                  Công ty đại chúng niêm yết, Công ty lắng nghe và phản hồi
                  nhanh nhất tất cả các góp ý và yêu cầu của cổ đông hiện hữu.
                  Đối với cổ đông chiến lược, Công ty gia tăng nội lực vào các
                  hoạt động kinh doanh cốt lõi, phát triển nguồn nhân lực phù
                  hợp, đặc biệt là công tác đào tạo đội ngũ kỹ sư chất lượng đáp
                  ứng yêu cầu ngày càng cao của thị trường. Ngoài ra, các báo
                  cáo, công bố thông tin của Công ty được trình bày và công bố
                  minh bạch, công khai và trung thực, được truyền tải nhanh
                  chóng và chính xác đến các cổ đông, nhà đầu tư thông qua các
                  kênh truyền thông và phương tiện thông tin đại chúng để dễ
                  dàng tiếp cận, tương tác với các nguồn thông tin về hoạt động
                  kinh doanh và hoạt động khác của Công ty.
                </div>
              </li>
              <li
                id="commitment-to-partners"
                style="--accent-color: #e24a68"
                data-sal-delay="200"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI ĐỐI TÁC</div>
                <div class="descr">
                  Chữ TÍN luôn là kim chỉ nam trong hoạt động kinh doanh của
                  Techgel. Với mục tiêu “Chúng ta cùng thành công”, chúng tôi
                  tiếp tục xây dựng và phát triển mối quan hệ bền vững với các
                  bên liên quan trong các hoạt động kinh doanh. Trên mỗi công
                  trình hay trong từng sản phẩm, quy trình, tiến độ và chất
                  lượng luôn được chúng tôi chú trọng và đảm bảo thực thi các
                  hành động cần thiết để đáp ứng các kỳ vọng. Techgel Group hợp
                  tác dựa trên cơ sở chiến lược Win-Win và lâu dài. Công ty đảm
                  bảo 5 cam kết với các nhà thầu phụ, nhà cung cấp và đội thi
                  công: Minh bạch quy trình đánh giá lựa chọn nhà thầu phụ, nhà
                  cung cấp. Đào tạo bài bản cho nhân sự của nhà thầu phụ và đội
                  thi công. Xây dựng lộ trình hợp tác, chia sẻ cơ hội, cùng gặt
                  hái thành công. Hợp tác trên tinh thần vui vẻ, tôn trọng, thấu
                  hiểu cùng vì mục tiêu chung. Chia sẻ công nghệ để đảm bảo chất
                  lượng.
                </div>
              </li>
              <li
                id="commitment-to-community-society"
                style="--accent-color: #1b5f8c"
                data-sal-delay="200"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI CỘNG ĐỒNG VÀ XÃ HỘI</div>
                <div class="descr">
                  Chúng tôi xác lập tầm nhìn xa, khát vọng lớn về sự bền vững và
                  trường tồn. Điều này trở thành tôn chỉ hành động và đặt nền
                  móng cho cách chúng tôi tư duy trước mỗi chặng mới của hành
                  trình. Chúng tôi tin rằng đây là giai đoạn quan trọng để kiến
                  tạo nền tảng quan trọng cho yêu cầu phát triển trong tương
                  lai. Chúng tôi chú trọng vào chính sách đầu tư gắn với các yếu
                  tố ESG (môi trường, xã hội và quản trị doanh nghiệp), các lĩnh
                  vực trọng yếu của nền kinh tế, các lĩnh vực phát triển bền
                  vững, hoạt động nhân đạo, thiện nguyện, nâng cao chất lượng
                  đời sống cộng đồng, triển khai đều đặn hoạt động từ thiện và
                  công tác xã hội ưu tiên những chương trình mang lại lợi ích
                  lâu dài dưới nhiều hình thức khác nhau. Di sản chúng tôi muốn
                  gửi gắm chính là tính nhân văn và lòng trắc ẩn trong từng hành
                  động bởi điều ấy sẽ cần được thấy mãi sau tất cả những đổi
                  thay.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
