<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/growth-sustain.png}]]);
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1 class="split-collab-words">PHÁT TRIỂN BỀN VỮNG</h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="sd-area">
        <div class="quote">
          <div
            class="quote-content"
            data-sal-delay="200"
            data-sal="flip-down"
            data-sal-duration="800"
          >
            <h2 class="pb-3">
              KINH DOANH BỀN VỮNG THIẾT LẬP NỀN TẢNG CHO CỘNG ĐỒNG THỊNH VƯỢNG
            </h2>
            <h3>Từ kế hoạch trên giấy đến hành động thực tiễn.</h3>
            <h3>Từ ý niệm ban đầu đến tính cam kết dài lâu.</h3>
            <h3>Đó là cách chúng tôi nói, hiểu và làm</h3>
            <h3>về <i>PHÁT TRIỂN BỀN VỮNG.</i></h3>
          </div>
        </div>

        <div class="commit-page tmp-section-gap">
          <div class="container">
            <div
              class="heading d-flex flex-column justify-content-center align-items-center px-5"
              style="gap: 15px"
            >
              <h1
                class="title text-center split-collab text-white"
                style="opacity: 1"
              >
                <span>Cam kết phát triển bền vững</span>
              </h1>
              <div
                data-sal-delay="200"
                data-sal="zoom-in"
                data-sal-duration="800"
              >
                <p class="text-white" style="text-align: center">
                  Thế giới ngày càng phụ thuộc vào các Công ty đưa ra các lựa
                  chọn phát triển bền vững.
                </p>
                <p class="text-white" style="text-align: center">
                  Techgel nhận thức được trách nhiệm đúng đắn sứ mệnh cộng giá
                  trị cho các bên liên quan – khách hàng, đối tác, môi trường,
                  cộng đồng, quốc gia, và toàn cầu nói chung cũng như sự phát
                  triển của mỗi con người trong tổ chức nói riêng.
                </p>
              </div>
            </div>
            <div
              class="all"
              data-sal-delay="200"
              data-sal="slide-down"
              data-sal-duration="800"
            >
              <div
                class="lefter scroll-btn"
                data-target="commitment-to-employees"
                style="--bg: url(/imgs/sustainable-development/emp.jpg)"
              >
                <div class="text">Cam kết với Người lao động</div>
              </div>
              <div
                class="left scroll-btn"
                style="--bg: url(/imgs/sustainable-development/shareholder.jpg)"
                data-target="commitment-to-shareholders"
              >
                <div class="text">Cam kết với Cổ đông</div>
              </div>
              <div class="center">
                <div class="explainer">
                  <span style="font-weight: 500"
                    >CAM KẾT PHÁT TRIỂN BỀN VỮNG</span
                  >
                </div>
              </div>
              <div
                class="right scroll-btn"
                data-target="commitment-to-partners"
                style="--bg: url(/imgs/sustainable-development/partners.jpg)"
              >
                <div class="text">Cam kết với Đối tác</div>
              </div>
              <div
                class="righter scroll-btn"
                data-target="commitment-to-community-society"
                style="--bg: url(/imgs/sustainable-development/esg.jpg)"
              >
                <div class="text">Cam kết với Cộng đồng & Xã hội</div>
              </div>
            </div>

            <div class="mobile">
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-employees"
                style="--bg: url(/imgs/sustainable-development/emp.jpg)"
              >
                <span>Cam kết với Người lao động</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-shareholders"
                style="--bg: url(/imgs/sustainable-development/shareholder.jpg)"
              >
                <span>Cam kết với Cổ đông</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-partners"
                style="--bg: url(/imgs/sustainable-development/partners.jpg)"
              >
                <span>Cam kết với Đối tác</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-community-society"
                style="--bg: url(/imgs/sustainable-development/esg.jpg)"
              >
                <span>Cam kết với Cộng đồng & xã hội</span>
              </div>
            </div>
          </div>
        </div>

        <div class="commit-page-details py-5">
          <div class="container">
            <ul>
              <li
                id="commitment-to-employees"
                style="--accent-color: #41516c"
                data-sal-delay="200"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI NGƯỜI LAO ĐỘNG</div>
                <div class="descr">
                  Cam kết xây dựng môi trường làm việc công bằng, nơi mỗi cá
                  nhân tài năng được trao cơ hội để vươn xa trong sự nghiệp.
                </div>
              </li>
              <li
                id="commitment-to-shareholders"
                style="--accent-color: #fbca3e"
                data-sal-delay="200"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI CỔ ĐÔNG</div>
                <div class="descr">
                  Cam kết minh bạch, phản hồi kịp thời và tạo giá trị bền vững
                  cho cổ đông.
                </div>
              </li>
              <li
                id="commitment-to-partners"
                style="--accent-color: #e24a68"
                data-sal-delay="200"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI ĐỐI TÁC</div>
                <div class="descr">
                  Cam kết chữ Tín, chia sẻ cơ hội, đảm bảo chất lượng và cùng
                  nhau phát triển bền vững trên mọi công trình.
                </div>
              </li>
              <li
                id="commitment-to-community-society"
                style="--accent-color: #1b5f8c"
                data-sal-delay="200"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="date fit-text">CAM KẾT VỚI CỘNG ĐỒNG VÀ XÃ HỘI</div>
                <div class="descr">
                  Cam kết trách nhiệm, gắn bó với ESG, lan toả giá trị nhân văn
                  và cộng đồng.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
