<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{${whatWeDoSustainableDevelopment.banner_url}}]]);
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1 class="split-collab-words">[[${ whatWeDoSustainableDevelopment.getTitle(#locale.language) }]]</h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="sd-area">
        <div class="quote" th:utext="${ whatWeDoSustainableDevelopment.getQuote(#locale.language) }">
        </div>

        <div class="commit-page tmp-section-gap">
          <div class="container">
            <div
              class="heading d-flex flex-column justify-content-center align-items-center px-5"
              style="gap: 15px"
            >
              <h1
                class="title text-center split-collab text-white"
                style="opacity: 1"
              >
                <span>[[${ whatWeDoSustainableDevelopment.getCommitTitle(#locale.language) }]]</span>
              </h1>
              <div
                data-sal-delay="200"
                data-sal="zoom-in"
                data-sal-duration="800"
              >
                <th:block th:utext="${ whatWeDoSustainableDevelopment.getCommitContent(#locale.language) }"></th:block>
              </div>
            </div>
            <div
              th:if="${whatWeDoSustainableDevelopmentItems.size() >= 4}"
              class="all"
              data-sal-delay="200"
              data-sal="slide-down"
              data-sal-duration="800"
            >
              <div
                class="lefter scroll-btn"
                data-target="commitment-to-employees"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[0].image_url}')|"
              >
                <div class="text">[[${ whatWeDoSustainableDevelopmentItems[0].getTitle(#locale.language) }]]</div>
              </div>
              <div
                class="left scroll-btn"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[1].image_url}')|"
                data-target="commitment-to-shareholders"
              >
                <div class="text">[[${ whatWeDoSustainableDevelopmentItems[1].getTitle(#locale.language) }]]</div>
              </div>
              <div class="center">
                <div class="explainer">
                  <span style="font-weight: 500"
                    >[[${ whatWeDoSustainableDevelopment.getCommitTitle(#locale.language) }]]</span
                  >
                </div>
              </div>
              <div
                class="right scroll-btn"
                data-target="commitment-to-partners"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[2].image_url}')|"
              >
                <div class="text">[[${ whatWeDoSustainableDevelopmentItems[2].getTitle(#locale.language) }]]</div>
              </div>
              <div
                class="righter scroll-btn"
                data-target="commitment-to-community-society"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[3].image_url}')|"
              >
                <div class="text">[[${ whatWeDoSustainableDevelopmentItems[3].getTitle(#locale.language) }]]</div>
              </div>
            </div>

            <div class="mobile">
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-employees"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[0].image_url}')|"
              >
                <span>[[${ whatWeDoSustainableDevelopmentItems[0].getTitle(#locale.language) }]]</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-shareholders"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[1].image_url}')|"
              >
                <span>[[${ whatWeDoSustainableDevelopmentItems[1].getTitle(#locale.language) }]]</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-partners"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[2].image_url}')|"
              >
                <span>[[${ whatWeDoSustainableDevelopmentItems[2].getTitle(#locale.language) }]]</span>
              </div>
              <div
                class="text-white item scroll-btn"
                data-target="commitment-to-community-society"
                th:style="|--bg: url('${whatWeDoSustainableDevelopmentItems[3].image_url}')|"
              >
                <span>[[${ whatWeDoSustainableDevelopmentItems[3].getTitle(#locale.language) }]]</span>
              </div>
            </div>
          </div>
        </div>

        <div class="commit-page-details py-5" th:if="${whatWeDoSustainableDevelopmentItems.size() >= 4}">
          <div class="container">
            <ul>
              <li
                id="commitment-to-employees"
                style="--accent-color: #41516c"
                data-sal-delay="200"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="date fit-text">[[${ whatWeDoSustainableDevelopmentItems[0].getTitle(#locale.language) }]]</div>
                <div class="descr">
                  [[${ whatWeDoSustainableDevelopmentItems[0].getContent(#locale.language) }]]
                </div>
              </li>
              <li
                id="commitment-to-shareholders"
                style="--accent-color: #fbca3e"
                data-sal-delay="200"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="date fit-text">[[${ whatWeDoSustainableDevelopmentItems[1].getTitle(#locale.language) }]]</div>
                <div class="descr">
                  [[${ whatWeDoSustainableDevelopmentItems[1].getContent(#locale.language) }]]
                </div>
              </li>
              <li
                id="commitment-to-partners"
                style="--accent-color: #e24a68"
                data-sal-delay="200"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="date fit-text">[[${ whatWeDoSustainableDevelopmentItems[2].getTitle(#locale.language) }]]</div>
                <div class="descr">
                  [[${ whatWeDoSustainableDevelopmentItems[2].getContent(#locale.language) }]]
                </div>
              </li>
              <li
                id="commitment-to-community-society"
                style="--accent-color: #1b5f8c"
                data-sal-delay="200"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="date fit-text">[[${ whatWeDoSustainableDevelopmentItems[3].getTitle(#locale.language) }]]</div>
                <div class="descr">
                  [[${ whatWeDoSustainableDevelopmentItems[3].getContent(#locale.language) }]]
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
