<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/culture-banners.jpeg}]]);
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline">
              <h1 class="split-collab-words">
                VĂN HÓA TECHGEL
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="hr_policies_page py-5">
        <div class="container">
          <div class="section-head pb-3">
            <h3 class="section-sub-title split-collab-words">
              <span class="subtitle">Văn hóa TECHGEL</span>
            </h3>
          </div>
          <hr />
          <div class="post_cff mt-5">
            <div class="row">
              <div class="col-md-12" th:each="news: ${newsList}">
                <div class="post_item mb-4">
                  <div class="row gx-2 gx-md-3">
                    <div class="col-md-2 col-6">
                      <figure>
                        <a th:href="@{'/news-details/' + ${news.id}}">
                          <img
                            width="720"
                            height="450"
                            th:src="@{${news.image_url}}"
                            class="img-fluid wp-post-image"
                            th:alt="${news.title_vi}"
                          />
                        </a>
                      </figure>
                    </div>
                    <div class="col-md-10 col-6">
                      <div class="post_info">
                        <h4 class="fs-16 fw-bold">
                          <a href="#">
                            [[${ news.title_vi }]]
                          </a>
                        </h4>
                        <div class="d-none d-md-block">
                          <div class="post_cate cl-blue fw-bold fs-13">
                            [[${ #temporals.format(news.updatedAt,'dd/MM/yyyy') }]]
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
