<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/culture-banners.jpeg}]]);
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline">
              <h1 class="split-collab-words">
                VĂN HÓA TECHGEL
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="hr_policies_page py-5">
        <div class="container">
          <div class="section-head pb-3">
            <h3 class="section-sub-title split-collab-words">
              <span class="subtitle">Văn hóa TECHGEL</span>
            </h3>
          </div>
          <hr />
          <div class="post_cff mt-5">
            <div class="row">
              <div class="col-md-12">
                <div class="post_item mb-4">
                  <div class="row gx-2 gx-md-3">
                    <div class="col-md-2 col-6">
                      <figure>
                        <a href="#">
                          <img
                            width="720"
                            height="450"
                            src="https://img.freepik.com/free-vector/paper-style-core-values-background_23-2149079276.jpg?t=st=1743575010~exp=1743578610~hmac=2e61aacccd2103c7997571243e1fe72da11d764f19bd934621d7c6fe76062afc&w=1380"
                            class="img-fluid wp-post-image"
                            alt=""
                            decoding="async"
                            fetchpriority="high"
                            draggable="false"
                          />
                        </a>
                      </figure>
                    </div>
                    <div class="col-md-10 col-6">
                      <div class="post_info">
                        <h4 class="fs-16 fw-bold">
                          <a href="#">
                            Đào tạo chuyên đề văn hóa giao tiếp nơi công sở
                          </a>
                        </h4>
                        <div class="d-none d-md-block">
                          <div class="post_cate cl-blue fw-bold fs-13">
                            Người trình bày: Nguyễn Thanh Phương
                          </div>
                          <div class="post_cate cl-blue fw-bold fs-13">
                            10/04/2025
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="post_item mb-4">
                  <div class="row gx-2 gx-md-3">
                    <div class="col-md-2 col-6">
                      <figure>
                        <a href="#">
                          <img
                            width="720"
                            height="450"
                            src="https://img.freepik.com/free-vector/paper-style-core-values-background_23-2149079276.jpg?t=st=1743575010~exp=1743578610~hmac=2e61aacccd2103c7997571243e1fe72da11d764f19bd934621d7c6fe76062afc&w=1380"
                            class="img-fluid wp-post-image"
                            alt=""
                            decoding="async"
                            fetchpriority="high"
                            draggable="false"
                          />
                        </a>
                      </figure>
                    </div>
                    <div class="col-md-10 col-6">
                      <div class="post_info">
                        <h4 class="fs-16 fw-bold">
                          <a href="#">
                            Nhiệm vụ và công việc bộ phận hành chính nhân sự
                          </a>
                        </h4>
                        <div class="d-none d-md-block">
                          <div class="post_cate cl-blue fw-bold fs-13">
                            Người trình bày: Nguyễn Đình Hiếu
                          </div>
                          <div class="post_cate cl-blue fw-bold fs-13">
                            03/04/2025
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
