<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/certifications.jpg}]]);
        }
        .line_img {
          height: 10px;
          background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center /
            auto 200%;
          flex-grow: 1;
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1>GIẤY PHÉP & CHỨNG CHỈ</h1>
            </div>
          </div>
        </div>
      </div>

      <div id="next" class="about-lc tmp-section-gap">
        <div class="container">
          <th:block th:each="aboutUsLicenseCertificate: ${aboutUsLicenseCertificates}">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-head p-0">
                  <h4 class="section-sub-title center-title split-collab-chars">
                    <img
                        data-sal-delay="200"
                        data-sal="fade"
                        data-sal-duration="800"
                        th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                        alt="Techgel"
                    />
                    <span class="subtitle">[[${ aboutUsLicenseCertificate.title_vi }]]</span>
                  </h4>
                </div>
              </div>
            </div>
            <div class="mt-5 mb-md-5">
              <div class="row justify-content-center" id="gallery-certificate">
                <div th:each="item: ${aboutUsLicenseCertificate.getAboutUsLicenseCertificateItems()}" class="col-md-3 col-6">
                  <div class="item_cert"
                       data-sal-delay="200"
                       data-sal="zoom-in"
                       data-sal-duration="800">
                    <figure class="d-flex justify-content-center">
                      <a
                        data-fancybox="certificate"
                        class="preview-image"
                        th:href="@{${item.getImage_url()}}"
                      >
                        <img
                          th:src="@{${item.getImage_url()}}"
                          height="400"
                          th:alt="${item.title_vi}"
                        />
                      </a>
                    </figure>
                    <div class="text-center">
                      <b>[[${ item.title_vi }]]</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </main>
  </body>
</html>
