<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/vision-banner.jpg}]]);
        }
        .line_img {
          height: 0.625rem;
          background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center /
            auto 200%;
          flex-grow: 1;
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1>TẦM NHÌN, SỨ MỆNH & GIÁ TRỊ CỐT LÕI</h1>
            </div>
          </div>
          <a
            id="brxe-ygpexj"
            href="#next"
            data-brx-anchor="true"
            class="brxe-block small-text-shadow"
          >
            <div id="brxe-rqhadm" class="brxe-text-basic" news>Xem thêm</div>
            <i id="brxe-flgaqk" class="fa-solid fa-arrow-down"></i>
          </a>
        </div>
      </div>

      <div id="next" class="about-vmv tmp-section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head pb-3">
                <h2
                  class="title split-collab d-flex align-items-center justify-content-center"
                  style="opacity: 0; gap: 1.875rem"
                >
                  <div class="line_img"></div>
                  <div>
                    <span
                      th:each="t: ${'TẦM NHÌN'.toCharArray()}"
                      style="
                        position: relative;
                        display: inline-block;
                        translate: none;
                        rotate: none;
                        scale: none;
                        transform: translate(0rem, 0rem);
                        opacity: 1;
                        visibility: inherit;
                      "
                    >
                      [[${ #strings.replace(t, ' ', '&nbsp;') }]]
                    </span>
                  </div>
                  <div class="line_img"></div>
                </h2>
              </div>
            </div>
          </div>
          <div>
            <div class="vision_info my-5" style="overflow: hidden">
              <div
                class="row justify-content-end"
                data-sal-delay="150"
                data-sal="slide-left"
                data-sal-duration="800"
              >
                <div class="col-md-8">
                  <img
                    th:src="@{/imgs/about/inaugurate.jpg}"
                    class="img-fluid"
                    alt=""
                    draggable="false"
                  />
                </div>
              </div>
              <div class="content_abs">
                <div
                  class="fs-18 fw-bold text-justify"
                  data-sal-delay="150"
                  data-sal="slide-right"
                  data-sal-duration="800"
                >
                  Trong hơn 25 năm phát triển, Techgel đã hoàn thành sứ mệnh đưa
                  công nghệ sáng tạo vào hoạt động kinh doanh của khách hàng.
                  Trước làn sóng đổi mới không ngừng, chiến lược chuyển đổi kinh
                  doanh trở nên cấp thiết hơn bao giờ hết, đòi hỏi sự chủ động
                  thích ứng và cập nhật kỹ thuật hiện đại. Với tầm nhìn mới,
                  Techgel cam kết đồng hành cùng khách hàng trên hành trình
                  chuyển đổi số – đón đầu, vượt qua và tận dụng các bước tiến
                  công nghệ.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="section-head pb-3">
                <h2
                  class="title split-collab d-flex align-items-center justify-content-center"
                  style="opacity: 0; gap: 1.875rem"
                >
                  <div class="line_img"></div>
                  <div>
                    <span
                      th:each="t: ${'SỨ MỆNH'.toCharArray()}"
                      style="
                        position: relative;
                        display: inline-block;
                        translate: none;
                        rotate: none;
                        scale: none;
                        transform: translate(0rem, 0rem);
                        opacity: 1;
                        visibility: inherit;
                      "
                    >
                      [[${ #strings.replace(t, ' ', '&nbsp;') }]]
                    </span>
                  </div>
                  <div class="line_img"></div>
                </h2>
              </div>
            </div>
          </div>
          <div>
            <div class="mission_info my-5" style="overflow: hidden">
              <div
                class="row justify-content-start"
                data-sal-delay="150"
                data-sal="slide-right"
                data-sal-duration="800"
              >
                <div class="col-md-8">
                  <img
                    th:src="@{/imgs/about/quality-handshake.png}"
                    class="img-fluid"
                    alt=""
                    draggable="false"
                  />
                </div>
              </div>
              <div class="content_abs">
                <div
                  class="fs-18 fw-bold text-justify"
                  data-sal-delay="150"
                  data-sal="slide-left"
                  data-sal-duration="800"
                >
                  Techgel tạo sự khác biệt từ chất lượng sản phẩm đến tiêu chuẩn
                  dịch vụ hàng đầu. Techgel cung cấp giải pháp tối ưu cho bài
                  toán thiếu hụt năng lượng với giá trị kinh tế cao, lâu dài và
                  bền vững.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="section-head pb-3">
                <h2
                  class="title split-collab d-flex align-items-center justify-content-center"
                  style="opacity: 0; gap: 1.875rem"
                >
                  <div class="line_img"></div>
                  <div class="split-collab-words">
                    <span>Giá Trị Cốt Lõi</span>
                  </div>
                  <div class="line_img"></div>
                </h2>
              </div>
            </div>
          </div>
          <div>
            <div class="value_info my-5" style="overflow: hidden">
              <div class="row">
                <div
                  class="col-md-8"
                  data-sal-delay="300"
                  data-sal="slide-right"
                  data-sal-duration="800"
                >
                  <div class="item_img">
                    <img
                      th:src="@{/imgs/about/technology.webp}"
                      class="img-fluid"
                      alt=""
                      draggable="false"
                    />
                  </div>
                </div>
                <div
                  class="col-md-4"
                  data-sal-delay="300"
                  data-sal="slide-left"
                  data-sal-duration="800"
                >
                  <div class="item_value">
                    <div class="value_inner">
                      <div class="icon_img">
                        <img
                          th:src="@{/imgs/badge.png}"
                          class="img-fluid"
                          alt=""
                          draggable="false"
                        />
                      </div>
                      <div class="fs-20 num fw-bold">01</div>
                      <h3 class="fs-24 fw-bold text-uppercase">
                        Chất lượng hàng đầu
                      </h3>
                      <div class="description text-justify">
                        Techgel luôn đặt chất lượng sản phẩm và dịch vụ lên hàng
                        đầu, cam kết cung cấp các sản phẩm chính hãng, chất
                        lượng cao, có nguồn gốc xuất xứ rõ ràng và dịch vụ tận
                        tình, chu đáo.
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-4"
                  data-sal-delay="300"
                  data-sal="zoom-in"
                  data-sal-duration="800"
                >
                  <div class="item_value">
                    <div class="value_inner">
                      <div class="icon_img">
                        <img
                          th:src="@{/imgs/responsibility.png}"
                          class="img-fluid"
                          alt=""
                          draggable="false"
                        />
                      </div>
                      <div class="fs-20 num fw-bold">02</div>
                      <h3 class="fs-24 fw-bold text-uppercase">
                        Uy tín và trách nhiệm
                      </h3>
                      <div class="description text-justify">
                        Techgel xây dựng uy tín dựa trên sự trung thực, minh
                        bạch và trách nhiệm trong mọi hoạt động kinh doanh.
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-4"
                  data-sal-delay="300"
                  data-sal="zoom-in"
                  data-sal-duration="800"
                >
                  <div class="item_value">
                    <div class="value_inner">
                      <div class="icon_img">
                        <img
                          th:src="@{/imgs/creativity.png}"
                          class="img-fluid"
                          alt=""
                          draggable="false"
                        />
                      </div>
                      <div class="fs-20 num fw-bold">03</div>
                      <h3 class="fs-24 fw-bold text-uppercase">
                        Sáng tạo và đổi mới
                      </h3>
                      <div class="description text-justify">
                        Techgel không ngừng tìm kiếm, nghiên cứu và áp dụng
                        những công nghệ mới nhất để mang đến cho khách hàng
                        những giải pháp tối ưu và hiệu quả nhất.
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-4"
                  data-sal-delay="300"
                  data-sal="zoom-in"
                  data-sal-duration="800"
                >
                  <div class="item_value">
                    <div class="value_inner">
                      <div class="icon_img">
                        <img
                          th:src="@{/imgs/sustainable-development.png}"
                          class="img-fluid"
                          alt=""
                          draggable="false"
                        />
                      </div>
                      <div class="fs-20 num fw-bold">04</div>
                      <h3 class="fs-24 fw-bold text-uppercase">
                        Phát triển bền vững
                      </h3>
                      <div class="description text-justify">
                        Techgel luôn hướng đến sự phát triển bền vững, không chỉ
                        cho doanh nghiệp mà còn cho cả cộng đồng và xã hội.
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-4"
                  data-sal-delay="300"
                  data-sal="slide-right"
                  data-sal-duration="800"
                >
                  <div class="item_value">
                    <div class="value_inner">
                      <div class="icon_img">
                        <img
                          th:src="@{/imgs/trust.png}"
                          class="img-fluid"
                          alt=""
                          draggable="false"
                        />
                      </div>
                      <div class="fs-20 num fw-bold">05</div>
                      <h3 class="fs-24 fw-bold text-uppercase">
                        Tôn trọng và hợp tác
                      </h3>
                      <div class="description text-justify">
                        Techgel xây dựng mối quan hệ tốt đẹp với đối tác, khách
                        hàng và đồng nghiệp dựa trên sự tôn trọng, tin cậy và
                        hợp tác.
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-8"
                  data-sal-delay="300"
                  data-sal="slide-left"
                  data-sal-duration="800"
                >
                  <div class="item_img">
                    <img
                      th:src="@{/imgs/people-financial-results-analyzing-statistics.jpg}"
                      class="img-fluid"
                      alt=""
                      draggable="false"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
