<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div th:fragment="navigation">

      <header
        class="tmp-header-area-start header-one position-relative"
        style="z-index: 999">
        <div class="main-header-one-wrapper">
          <div class="header-mida-area">
            <div class="logo-area-start">
              <a class="logo" href="/">
                <img
                  width="200"
                  height="50"
                  th:src="@{/imgs/logos/logo-white.png}"
                  alt="Techgel Logo"
                  class="only-dark"
                />
                <img
                  width="200"
                  height="50"
                  th:src="@{/imgs/logos/logo.jpg}"
                  alt="Techgel Logo"
                  class="only-light"
                />
              </a>
            </div>
            <div class="mid-header-center">
              <div class="input-area">
                <input type="text" placeholder="Tìm kiếm..." />
                <i class="fa-solid fa-magnifying-glass searchbar-icon"></i>
              </div>
            </div>
            <div class="actions-area">
              <div class="lang-picker dropdown">
                <form action="" method="get">
                  <button
                    id="current-theme"
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="outline: none; border: none; box-shadow: none"
                  >

                    <!-- <img th:src="@{/svg/sun.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" />
                    <span>Sáng</span>

                    <img th:src="@{/svg/moon.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" />
                    <span>Tối</span> -->

                    <!-- JS will inject the img and span here -->

                  </button>
                  <ul class="dropdown-menu theme">
                    <li>
                      <button id="theme-toggle-light" class="dropdown-item">
                    <img th:src="@{/svg/sun.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" />
                    Sáng
                      </button></li>
                      <li><button id="theme-toggle-dark" class="dropdown-item">
                    <img th:src="@{/svg/moon.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" />
                    Tối</li>
                    </form>
                  </div>
                </div>
            <div class="button-borders">
              <a
                th:href="@{/profile}"
                target="_blank"
                class="btn primary-button"
                >E-PROFILE</a
              >
            </div>
          </div>
          <div class="tmp-nav-area-one header--sticky sticky">
            <div class="logo-md-sm-device">
              <a href="/" class="logo">
                <img height="30" th:src="@{/imgs/logos/logo.jpg}" alt="corporate_business-logo">
              </a>
            </div>
            <div class="header-nav main-nav-one menu-nav">
              <nav>
                <ul class="parent-nav">
                  <li
                    th:each="n, i: ${testNavigations}"
                    th:class="${not subnavigations[i.index].isEmpty() ? 'has-dropdown' : ''}">
                    <a
                      th:href="@{${n.entrySet()[0].value}}"
                      class="nav-link d-flex justify-content-center align-items-center"
                    >
                      <span class="rolling-text">
                        <div class="block">
                          <span>[[${#strings.toUpperCase(n.entrySet()[0].key)}]]</span>
                        </div>
                      </span>
                    </a>
                    <ul class="submenu" th:if="${not subnavigations[i.index].isEmpty()}">
                      <th:block th:each="subs : ${subnavigations[i.index]}">
                        <li th:each="sub : ${subs.entrySet()}">
                          <a th:href="@{${sub.value}}">[[${sub.key}]]</a>
                        </li>
                      </th:block>
                    </ul>
                  </li>
                </ul>

              </nav>
            </div>
            <div class="actions-area">
              <div class="tmp-side-collups-area" id="side-collups-nav">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="14" width="20" height="2" fill="#1F1F25"></rect>
                  <rect y="7" width="20" height="2" fill="#1F1F25"></rect>
                  <rect width="20" height="2" fill="#1F1F25"></rect>
                </svg>
              </div>
              <div class="lang-picker dropdown">
                <form action="" method="get">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="outline: none; border: none; box-shadow: none"
                  >
                    <img th:src="@{/svg/vi_flag.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" />
                    VI
                  </button>
                  <ul class="dropdown-menu">
                      <li>
                        <button class="dropdown-item" lang="vi" type="submit">
                          <img th:src="@{/svg/vi_flag.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" /> VI
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" lang="vi" type="submit">
                          <img th:src="@{/svg/en-US_flag.svg}" alt="Techgel Logo" width="45" height="35" class="pe-3" />EN - US
                        </button>
                      </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div
        id="overlay_every-where"
        data-tmp-cursor="md text-black dark:text-white opacity-10"
        data-tmp-cursor-icon="fa-regular fa-x fa-fw"></div>
    </div>
  </body>
</html>
