<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .tmp-header-area-start.header-four nav ul li a.nav-link {
          color: black !important;
        }
      </style>

      <div class="tmp-service-section tmp-section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="news-details-left-area border-bottom">
                <div class="thumbnail-top">
                  <img
                    th:src="@{${news.image_url}}"
                    th:alt="${news.title_vi}"
                  />
                </div>
                <div class="news-details-description">
                  <div class="category-area">Tin tức / [[${ news.type.getVietnameseName() }]]</div>
                  <h3 class="title split-collab-chars" style="opacity: 0">
                    [[${ news.title_vi }]]
                  </h3>
                  <th:block th:utext="${news.content_vi}"></th:block>
                </div>
              </div>
              <div class="news-details-bottom-area mt-5">
                <div class="title-section mt-5">
                  <h3>Bài viết liên quan</h3>
                </div>
                <div class="other_post mt-4">
                  <div class="row">

                    <div th:each="related: ${relatedNews}" class="col-md-6">
                      <div class="single-news">
                        <div class="news-inner">
                          <div class="thumbnail">
                            <a th:href="@{'/news-details/' + ${related.id}}">
                              <img
                                th:src="@{${related.image_url}}"
                                th:alt="${related.title_vi}"
                              />
                            </a>
                            <div class="pmt-news-meta">
                              <ul class="all-meta">
                                <li class="date"><span>[[${#temporals.format(news.updatedAt, 'dd')}]]</span></li>
                                <li class="month"><span>Tháng [[${#temporals.format(news.updatedAt, 'M')}]]</span></li>
                              </ul>
                            </div>
                          </div>
                          <div class="news-content">
                            <div class="news-head">
                              <span class="name">Tin tức</span>
                              <span class="designation">[[${news.type.getVietnameseName()}]]</span>
                            </div>
                            <div class="news-body">
                              <a href="news-details.html" class="title-area">
                                <h4 class="title">
                                  [[${ news.title_vi }]]
                                </h4>
                              </a>
                              <p class="description">
                                [[${ news.summary_vi }]]
                              </p>
                            </div>

                            <a class="btn-read-more" href="news-details.html">
                              <span class="read-more-text">Đọc thêm</span>
                              <span class="read-more-icon"
                                ><i class="fa-solid fa-arrow-right"></i
                              ></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 pl--50 pl_md--10 pl_sm--10 mt_md--50 mt_sm--50"
            >
              <div class="side-bar-details-page">
                <div class="single-side-bar category-area">
                  <div class="header">
                    <h3 class="title animated fadeIn">Danh mục tin tức</h3>
                  </div>
                  <div class="body">
                    <a th:each="type: ${newsType}" th:href="@{'/news'(type=${type.name()})}" class="single-category">
                      <p>[[${ type.getVietnameseName() }]]</p>
                      <i class="fa-solid fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="single-side-bar recent-post">
                  <div class="header">
                    <h3 class="title animated fadeIn">Bài viết gần đây</h3>
                  </div>
                  <div class="body mt--50">

                    <div th:each="recent, iter: ${recentNews}" th:if="${iter.index < 3}" class="single-news-recent-post-sidebar">
                      <a href="#" class="thumbnail">
                        <img
                          th:src="@{${recent.image_url}}"
                          th:alt="${recent.title_vi}"
                        />
                        <div class="inner">
                          <span class="post-time">
                            <i class="fa-regular fa-clock"></i>
                            [[${#temporals.format(recent.updatedAt, 'dd/MM/yyyy')}]]
                          </span>
                          <h5 class="title">
                            [[${ recent.title_vi }]]
                          </h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
