<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="content-wrapper" style="overflow: hidden;">
        <style>
            .breadcrumb-bg {
                background-image: url(https://img.freepik.com/free-vector/realistic-news-studio-background_23-2149985612.jpg?t=st=1743406782~exp=1743410382~hmac=c1984a0c0b523994523a792444ead1011fd6522314aa4cc8007fd5cd69e08697&w=1380);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display:flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: calc(100vh - 80px);
            }

            .bg-1 {
                background-image: url([[@{/imgs/bg-01.jpg}]]);
            }

            .line_img {
                height: 10px;
                background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center / auto 200%;
            }
        </style>

        <div class="breadcrumb-area bg_image breadcrumb-bg">
            <div id="brxe-oubmqr" class="brxe-container">
                <div id="brxe-twzaik" class="brxe-block">
                    <div id="brxe-naxryb" class="brxe-text uni-text-outline-white uni-text-outline">
                        <h1><span class="uni-text-outline"><br></span>TIN TỨC</h1>
                    </div>
                </div>
                <a id="brxe-ygpexj" href="#next" data-brx-anchor="true" class="brxe-block">
                    <div id="brxe-rqhadm" class="brxe-text-basic"news>Cuộn chuột</div>
                    <i id="brxe-flgaqk" class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>

        <div id="next" class="news-area py-5">
            <div class="container">
                <div class="menu-news">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h3 class="fs-40 fw-bold text-uppercase">Tin tức</h3>
                        </div>
                        <div class="col-md-6">
                            <ul class="menu-news-list">
                                <li class="menu-item current-menu-item">
                                    <a href="#" aria-current="page">Tin dự án</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Hoạt động nội bộ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Hoạt động đào tạo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post-features mb-md-5">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="single-news">
                                <div class="news-inner row">
                                    <div class="thumbnail col-md-7 p-0">
                                        <a href="#">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/tl.webp" alt="">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content col-md-5">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
                                            </a>
                                            <p class="description">
                                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.                                            </p>
                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="post-sidebar">
                                <div class="item-post-sb">
                                    <div class="meta-post">
                                        <div class="date-post">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                        <div class="post-info">
                                            <div class="post_info">
                                                <h5 class="fs-16 fw-bold"><a href="#">TECHGEL – SỰ TRỞ LẠI MẠNH MẼ SAU KHỦNG HOẢNG</a>
                                                </h5>
                                                <a href="#" style="font-size:12px;"><i>Xem thêm <i style="font-size:9px;" class="fa fa-angle-double-right"></i></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-post-sb">
                                    <div class="meta-post">
                                        <div class="date-post">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                        <div class="post-info">
                                            <div class="post_info">
                                                <h5 class="fs-16 fw-bold"><a href="#">TECHGEL – NHÀ GA T3 CẢNG HÀNG KHÔNG QUỐC TẾ TÂN SƠN NHẤT</a>
                                                </h5>
                                                <a href="#" style="font-size:12px;"><i>Xem thêm <i style="font-size:9px;" class="fa fa-angle-double-right"></i></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-post-sb">
                                    <div class="meta-post">
                                        <div class="date-post">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                        <div class="post-info">
                                            <div class="post_info">
                                                <h5 class="fs-16 fw-bold"><a href="#">Tái Chế Pin Mặt Trời: Quy Trình Tái Chế và Lợi Ích</a>
                                                </h5>
                                                <a href="#" style="font-size:12px;"><i>Xem thêm <i style="font-size:9px;" class="fa fa-angle-double-right"></i></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="other-post">
                    <h3>Tin tức khác</h3>
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/tl.webp" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Hoạt động nội bộ</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">TECHGEL – SỰ TRỞ LẠI MẠNH MẼ SAU KHỦNG HOẢNG</h4>
                                            </a>
                                            <p class="description">
                                                Sau một thời gian dài đối mặt với những thách thức lớn từ khủng hoảng thị trường, đại dịch COVID-19 và các vấn đề nội bộ, TECHGEL đã chính thức trở lại với diện mạo hoàn toàn mới, mạnh mẽ và đầy tham vọng. Với sự tiếp quản của hai nhà đầu tư lớn                                            </p>
                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/t3.png" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>14</span></li>
                                                <li class="month"><span>MAY</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">TECHGEL – NHÀ GA T3 CẢNG HÀNG KHÔNG QUỐC TẾ TÂN SƠN NHẤT</h4>
                                            </a>
                                            <p class="description">
                                                Thiết Kế, Cung Cấp & Lắp Đặt Hệ Thống Cơ Điện (MEPF) Cho Nhà Ga T3 – Cảng Hàng Không Quốc Tế Tân Sơn Nhất Giới Thiệu Dự Án Công ty Cổ phần Dịch vụ Hàng Không Taseco Sài Gòn (CĐT) đã hợp tác cùng Công ty Cổ phần Kỹ thuật Công nghệ Sài Gòn                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2023/08/dien-mat-troi-1536x560.jpg" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>11</span></li>
                                                <li class="month"><span>FEB</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">Tái Chế Pin Mặt Trời: Quy Trình Tái Chế và Lợi Ích</h4>
                                            </a>
                                            <p class="description">
                                                Tái chế pin Mặt trời là gì? Tái chế pin mặt trời là quá trình xử lí pin đã qua sử dụng để giảm lượng chất thải rắn đô thị. Việc tái chế này giúp bảo vệ môi trường và sức khỏe con người, do trong pin mặt trời chứa một số kim loại nặng                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/tl.webp" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Hoạt động nội bộ</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">TECHGEL – SỰ TRỞ LẠI MẠNH MẼ SAU KHỦNG HOẢNG</h4>
                                            </a>
                                            <p class="description">
                                                Sau một thời gian dài đối mặt với những thách thức lớn từ khủng hoảng thị trường, đại dịch COVID-19 và các vấn đề nội bộ, TECHGEL đã chính thức trở lại với diện mạo hoàn toàn mới, mạnh mẽ và đầy tham vọng. Với sự tiếp quản của hai nhà đầu tư lớn                                            </p>
                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/t3.png" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>14</span></li>
                                                <li class="month"><span>MAY</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">TECHGEL – NHÀ GA T3 CẢNG HÀNG KHÔNG QUỐC TẾ TÂN SƠN NHẤT</h4>
                                            </a>
                                            <p class="description">
                                                Thiết Kế, Cung Cấp & Lắp Đặt Hệ Thống Cơ Điện (MEPF) Cho Nhà Ga T3 – Cảng Hàng Không Quốc Tế Tân Sơn Nhất Giới Thiệu Dự Án Công ty Cổ phần Dịch vụ Hàng Không Taseco Sài Gòn (CĐT) đã hợp tác cùng Công ty Cổ phần Kỹ thuật Công nghệ Sài Gòn                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2023/08/dien-mat-troi-1536x560.jpg" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>11</span></li>
                                                <li class="month"><span>FEB</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">Tái Chế Pin Mặt Trời: Quy Trình Tái Chế và Lợi Ích</h4>
                                            </a>
                                            <p class="description">
                                                Tái chế pin Mặt trời là gì? Tái chế pin mặt trời là quá trình xử lí pin đã qua sử dụng để giảm lượng chất thải rắn đô thị. Việc tái chế này giúp bảo vệ môi trường và sức khỏe con người, do trong pin mặt trời chứa một số kim loại nặng                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/tl.webp" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>20</span></li>
                                                <li class="month"><span>JAN</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Hoạt động nội bộ</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">TECHGEL – SỰ TRỞ LẠI MẠNH MẼ SAU KHỦNG HOẢNG</h4>
                                            </a>
                                            <p class="description">
                                                Sau một thời gian dài đối mặt với những thách thức lớn từ khủng hoảng thị trường, đại dịch COVID-19 và các vấn đề nội bộ, TECHGEL đã chính thức trở lại với diện mạo hoàn toàn mới, mạnh mẽ và đầy tham vọng. Với sự tiếp quản của hai nhà đầu tư lớn                                            </p>
                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2025/03/t3.png" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>14</span></li>
                                                <li class="month"><span>MAY</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">TECHGEL – NHÀ GA T3 CẢNG HÀNG KHÔNG QUỐC TẾ TÂN SƠN NHẤT</h4>
                                            </a>
                                            <p class="description">
                                                Thiết Kế, Cung Cấp & Lắp Đặt Hệ Thống Cơ Điện (MEPF) Cho Nhà Ga T3 – Cảng Hàng Không Quốc Tế Tân Sơn Nhất Giới Thiệu Dự Án Công ty Cổ phần Dịch vụ Hàng Không Taseco Sài Gòn (CĐT) đã hợp tác cùng Công ty Cổ phần Kỹ thuật Công nghệ Sài Gòn                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="single-news">
                                <div class="news-inner">
                                    <div class="thumbnail">
                                        <a href="news-details.html">
                                            <img src="https://techgel.com.vn/wp-content/uploads/2023/08/dien-mat-troi-1536x560.jpg" alt="Business Consulting news">
                                        </a>
                                        <div class="pmt-news-meta">
                                            <ul class="all-meta">
                                                <li class="date"><span>11</span></li>
                                                <li class="month"><span>FEB</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="news-content">
                                        <div class="news-head">
                                            <span class="name">Tin tức</span>
                                            <span class="designation">Tin dự án</span>
                                        </div>
                                        <div class="news-body">
                                            <a href="news-details.html" class="title-area">
                                                <h4 class="title">Tái Chế Pin Mặt Trời: Quy Trình Tái Chế và Lợi Ích</h4>
                                            </a>
                                            <p class="description">
                                                Tái chế pin Mặt trời là gì? Tái chế pin mặt trời là quá trình xử lí pin đã qua sử dụng để giảm lượng chất thải rắn đô thị. Việc tái chế này giúp bảo vệ môi trường và sức khỏe con người, do trong pin mặt trời chứa một số kim loại nặng                                        </div>
                                        <a class="btn-read-more" href="news-details.html">
                                            <span class="read-more-text">Đọc thêm</span>
                                            <span class="read-more-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tmp-pagination-area-next-pev mt--50">
                        <button><i class="fa-solid fa-chevron-left"></i></button>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>