<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div th:fragment="banner" class="tmp-banner-swiper-one-area">
      <div
        class="swiper mySwiper-banner-one swiper-initialized swiper-horizontal swiper-backface-hidden"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide" th:each="banner, iter: ${banners}">
            <div
              th:class="'tmp-banner-area bg_image banner-one-height-control tmp-section-gap ' + 'bg_image-' + ${iter.index+1}"
              th:style="'background: url(' + @{${banner}} + ');'"
            >
              <div class="shape-image-banner-one"></div>
              <div class="container">
                <div class="row">
                  <div class="col-xl-9">
                    <div class="banner-one-main-wrapper">
                      <div class="banner-box">
                        <div class="overlay"></div>
                        <div class="inner">
                          <h3 class="title">NHÀ CHỜ T3 TÂN SƠN NHẤT</h3>
                          <span class="sub-title"
                            >Khánh thành: Ngày 30/04/2025.</span
                          >
                          <span class="sub-title"
                            >Dịch vụ: MEP và Kiot checkin.</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </body>
</html>
