<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{clients/index :: dynamic(~{::main})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <style>
        .background-image-services {
          background-image: url([[@{/imgs/services-bg-image.png}]]);
        }
        .bg-project-1 {
          background-image: url([[@{/imgs/project-bg-01.jpg}]]);
          background-repeat: no-repeat;
          background-position: top center;
        }
        .background-partner:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: -1;
          background-image: url([[@{/imgs/background_duan.jpg}]]);
          opacity: 0.2;
        }
        .line_img {
          height: 10px;
          background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center /
            auto 200%;
        }
      </style>

      <div th:replace="~{clients/home/banner :: banner}"></div>

      <!-- About -->
      <div class="about-area tmp-section-gap about-style-one">
        <div class="container">
          <div class="about-area-row row align-items-center">
            <div class="col-lg-6">
              <div class="about-thumbnails">
                <div class="thumbnail">
                  <img
                    data-sal-delay="300"
                    data-sal="slide-right"
                    data-sal-duration="800"
                    th:src="${homeAboutUs.image_url_1}"
                    style="
                      height: 590px;
                      width: 410px;
                      object-fit: cover;
                      border-radius: 10px;
                    "
                    alt="Techgel"
                  />
                  <div class="image-two">
                    <img
                      data-sal-delay="300"
                      data-sal="slide-left"
                      data-sal-duration="800"
                      th:src="${homeAboutUs.image_url_2}"
                      style="
                        height: 280px;
                        width: 190px;
                        object-fit: cover;
                        border-radius: 10px;
                      "
                      alt="Techgel"
                    />
                  </div>
                  <div class="image-three animated">
                    <img
                      data-sal-delay="300"
                      data-sal="slide-up"
                      data-sal-duration="800"
                      class=""
                      th:src="${homeAboutUs.image_url_3}"
                      style="
                        height: 200px;
                        width: 410px;
                        object-fit: cover;
                        border-radius: 10px;
                        box-shadow: -10px 10px 0px rgba(33, 33, 33, 1),
                          -20px 20px 0px rgba(33, 33, 33, 0.7),
                          -30px 30px 0px rgba(33, 33, 33, 0.4),
                          -40px 40px 0px rgba(33, 33, 33, 0.1);
                      "
                      alt="Techgel"
                    />
                  </div>
                  <div class="square"
                   data-sal-delay="400"
                   data-sal="slide-up"
                   data-sal-duration="800"></div>
                  <div class="flower">
                    <img
                      data-sal-delay="300"
                      data-sal="zoom-in"
                      data-sal-duration="800"
                      th:src="@{/imgs/flower.png}"
                      alt="Techgel"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-inner">
                <div class="section-head text-align-left section-head-one-side">
                  <h4 class="section-sub-title split-collab-words">
                    <span class="subtitle">
                      <img
                        data-sal-delay="200"
                        data-sal="fade"
                        data-sal-duration="800"
                        th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                        alt="Techgel"
                      />
                      [[${homeAboutUs.title_vi}]]</span>
                  </h4>
                </div>
                <p
                  class="description"
                  data-sal-delay="200"
                  data-sal="slide-up"
                  data-sal-duration="800"
                >
                  [[${homeAboutUs.content_vi}]]
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CEO Message -->
      <div class="ceo-message-area">
        <div class="container-fluid">
          <div class="ceo-message-v2 visible">
            <div class="ceo-portrait-wrapper">
              <div class="ceo-portrait">
                <img src="/imgs/MUiM2Sx0ZtU 1.svg" alt="Techgel General Director" class="portrait-img"
                     data-sal-delay="300"
                     data-sal="zoom-in"
                     data-sal-duration="800">
                <div class="glow-effect"></div>
                <div class="hover-dots"></div>
              </div>
              <div class="portrait-decor d-none">
                <div class="decor-circle"></div>
                <div class="decor-line"></div>
              </div>
            </div>

            <div class="message-content">
              <div class="section-header">
                <span class="section-subtitle split-collab-words">Thông điệp Tổng Giám Đốc</span>
                <h2 class="section-title"
                    data-sal-delay="300"
                    data-sal="slide-right"
                    data-sal-duration="800">"Kiến tạo giá trị
                  <span class="highlight-word">bền vững</span>"
                </h2>
                <div class="title-underline"></div>
              </div>

              <div class="message-text"
                   data-sal-delay="300"
                   data-sal="flip-down"
                   data-sal-duration="800">
                <p>Chúng tôi cam kết xây dựng một doanh nghiệp phát triển bền vững, không chỉ vì lợi ích kinh tế mà còn vì trách nhiệm với cộng đồng và môi trường. Mỗi thành viên là một hạt nhân, cùng tạo nên sức mạnh tập thể không ngừng vươn xa.</p>
                <div class="quote-mark">“</div>
              </div>

              <div class="signature-block">
                <div class="signature-wrapper"
                     data-sal-delay="300"
                     data-sal="zoom-in"
                     data-sal-duration="800">
                  <img src="imgs/signature.png" alt="CEO Signature" class="signature-img">
                  <div class="ink-effect"></div>
                </div>
                <div class="ceo-info">
                  <p class="ceo-name split-collab-chars">Nguyễn Quốc Dũng</p>
                  <p class="ceo-position split-collab-chars">Tổng giám đốc</p>
                </div>
              </div>
            </div>

            <div class="floating-elements">
              <div class="floating-circle"></div>
              <div class="floating-triangle"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- counter up -->
      <div class="tmp-counterup-area tmp-section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head">
                <h4 class="section-sub-title center-title split-collab-words">
                  <span class="subtitle">
                    <img
                      data-sal-delay="200"
                      data-sal="fade"
                      data-sal-duration="800"
                      th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                      alt="Techgel"
                    />
                    [[${ homeStatistic.title_vi }]]</span>
                </h4>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="counter_animation">
                <div th:each="item: ${homeStatisticItems}" class="col-lg-3 col-md-6 col-sm-6 col-12 counter__anim">
                  <div class="count-box counter-style-4 text-center">
                    <h4 class="counter-title">[[${ item.title_vi }]]</h4>
                      <div>
                        <h3 class="title animated fadeIn">
                          <span class="counter animated fadeInDownBig property-number">[[${ item.counter }]]</span>[[${ item.unit_vi }]]
                        </h3>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Field of activity -->
      <div class="tpm-services-process-area tmp-section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head">
                <h4 class="section-sub-title center-title split-collab-words">
                  <span class="subtitle">
                    <img
                            data-sal-delay="200"
                            data-sal="fade"
                            data-sal-duration="800"
                            th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                            alt="Techgel"
                    />
                    [[${ homeOurBusinessLine.title_vi }]]</span>
                </h4>
              </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center flex-wrap"
            style="row-gap: 3rem">
            <div th:each="service, iter: ${whatWeDoServices}"
              class="single-services"
              data-sal-delay="250"
              data-sal="slide-up"
              data-sal-duration="800">
              <div class="services-inner">
                <div
                  class="thumbnail thumbnail-rounded border-top-left hover-animation">
                  <a href="#">
                    <img
                      th:src="@{${service.image_url}}"
                      th:alt="${service.title_vi}"
                    />
                  </a>
                  <div class="number-bg-round">
                    <span>0[[${ iter.index + 1 }]]</span>
                  </div>
                </div>
                <div
                  class="services-content services-content-style-1 text-center">
                  <h5 class="title">[[${ service.title_vi }]]</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Projects -->
      <div class="tmp-project-area tmp-section-gapTop bg-project-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head color-white">
                <h4 class="section-sub-title center-title split-collab-chars">
                  <span class="subtitle">
                    <img
                            data-sal-delay="200"
                            data-sal="fade"
                            data-sal-duration="800"
                            th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                            alt="Techgel"
                    />
                    Dự án</span>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="container-full">
          <div class="slider_projects">
            <div class="item slick-slide" th:each="project : ${featuredProjects}">
              <div class="wrapper">
                <a th:href="@{'/project_details/' + ${project.getId()}}"></a>
                <figure>
                  <img th:src="@{${project.getImage_url()}}"
                       class="img-fluid"
                       alt=""
                       draggable="false" />
                </figure>

                <div class="meta_info">
                  <h4 class="fs-20 fw-bold">
                    [[${project.getTitle_vi()}]]
                  </h4>

                  <div class="detail_info">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Khách hàng</td>
                            <td>[[${project.getClient_name_vi()}]]</td>
                          </tr>
                          <tr>
                            <td>Vị trí</td>
                            <td>[[${project.getLocation_vi()}]]</td>
                          </tr>
                          <tr>
                            <td>Phạm vi công việc</td>
                            <td>[[${project.getScope_of_work_vi()}]]</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <a th:href="@{${project.getTitle_en()}}" class="read_more" tabindex="-1">
                      Xem thêm <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- QNA -->
      <div
        class="faq-area faq-style-one faq-bg-image bg_image tmp-section-gap mt-dec--180"
        style="display: none"
      >
        <div class="container pt--180">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head">
                <div class="section-sub-title center-title">
                  <img
                    th:src="@{/imgs/small-icons/section-custom-menubar.png}"
                    alt="Corporate_service"
                  />
                  <span class="subtitle">QUESTION AND ANSWERS</span>
                </div>
                <h2 class="title split-collab-chars" style="opacity: 1">
                  FAQ
                </h2>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="thumbnail">
                <img
                  th:src="@{/imgs/faq-1.png}"
                  alt="Business Consulting FAQ"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="faq-accordion">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                      <div
                        class="accordion-button"
                        data-bs-toggle="collapse"
                        role="button"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <div class="accordion-button-left">
                          <i class="fa-regular fa-question"></i>
                          <span
                            >Why is collaborative learning so important</span
                          >
                        </div>
                        <div class="accordion-button-right">
                          <i class="fa-solid fa-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        Companions shy had solicitude favorable own. Which could
                        saw guest man now heard but. Lasted my coming uneasy
                        marked so should. Gravity letters it amongst herself
                        dearest an windows by. Wooded ladies she.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                      <div
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        role="button"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <div class="accordion-button-left">
                          <i class="fa-regular fa-question"></i>
                          <span>Do you offer free trials</span>
                        </div>
                        <div class="accordion-button-right">
                          <i class="fa-solid fa-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        Companions shy had solicitude favorable own. Which could
                        saw guest man now heard but. Lasted my coming uneasy
                        marked so should. Gravity letters it amongst herself
                        dearest an windows by. Wooded ladies she.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                      <div
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        role="button"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <div class="accordion-button-left">
                          <i class="fa-regular fa-question"></i>
                          <span
                            >Can I share my courses with non-registered
                            users</span
                          >
                        </div>
                        <div class="accordion-button-right">
                          <i class="fa-solid fa-arrow-right"></i>
                        </div>
                      </div>
                    </div>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        Companions shy had solicitude favorable own. Which could
                        saw guest man now heard but. Lasted my coming uneasy
                        marked so should. Gravity letters it amongst herself
                        dearest an windows by. Wooded ladies she.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- team -->
      <div class="team-area tmp-section-gap" style="display: none">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head">
                <div class="section-sub-title center-title">
                  <img
                    th:src="@{/imgs/small-icons/section-custom-menubar.png}"
                    alt="Corporate services"
                  />
                  <span>ĐỘI NGŨ CHUYÊN GIA</span>
                </div>
                <h2 class="title split-collab-chars" style="opacity: 1">
                  <span
                    th:each="t: ${'Gặp gỡ đội ngũ chuyên gia của chúng tôi'.toCharArray()}"
                    style="
                      position: relative;
                      display: inline-block;
                      translate: none;
                      rotate: none;
                      scale: none;
                      transform: translate(0px, 0px);
                      opacity: 1;
                      visibility: inherit;
                    "
                  >
                    [[${ #strings.replace(t, ' ', '&nbsp;') }]]
                  </span>
                </h2>
              </div>
            </div>
          </div>
          <div class="row g-5">
            <div
              class="col-lg-4 col-md-6 col-sm-12 col-12"
              data-sal="slide-up"
              data-sal-delay="150"
              data-sal-duration="800"
            >
              <div class="single-team">
                <a
                  href="team-details.html"
                  class="thumbnail"
                  data-tmp-cursor="lg transparent fw-bold"
                  data-tmp-cursor-text="View Details"
                >
                  <img th:src="@{/imgs/IMG_6797.JPG}" alt="Corporate team" />
                </a>
                <div class="content">
                  <div class="team-name content-with-bg">
                    <a href="#" class="name-area">
                      <h6 class="name">Nguyễn Quốc Dũng</h6>
                    </a>
                    <div class="designation">CEO &amp; Founder</div>
                  </div>
                  <div class="share-icon-style-one">
                    <ul class="social-icons social-icons-with-bg">
                      <li>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      </li>
                    </ul>
                    <i class="fa-sharp fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12 col-12"
              data-sal="slide-up"
              data-sal-delay="250"
              data-sal-duration="800"
            >
              <div class="single-team">
                <a
                  href="team-details.html"
                  class="thumbnail"
                  data-tmp-cursor="lg transparent fw-bold"
                  data-tmp-cursor-text="View Details"
                >
                  <img th:src="@{/imgs/IMG_6797.JPG}" alt="Corporate team" />
                </a>
                <div class="content">
                  <div class="team-name content-with-bg">
                    <a href="#" class="name-area">
                      <h6 class="name">Nguyễn Quốc Dũng</h6>
                    </a>
                    <div class="designation">CEO &amp; Founder</div>
                  </div>
                  <div class="share-icon-style-one">
                    <ul class="social-icons social-icons-with-bg">
                      <li>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      </li>
                    </ul>
                    <i class="fa-sharp fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 col-sm-12 col-12"
              data-sal="slide-up"
              data-sal-delay="350"
              data-sal-duration="800"
            >
              <div class="single-team">
                <a
                  href="team-details.html"
                  class="thumbnail"
                  data-tmp-cursor="lg transparent fw-bold"
                  data-tmp-cursor-text="View Details"
                >
                  <img th:src="@{/imgs/IMG_6797.JPG}" alt="Corporate team" />
                </a>
                <div class="content">
                  <div class="team-name content-with-bg">
                    <a href="#" class="name-area">
                      <h6 class="name">Nguyễn Quốc Dũng</h6>
                    </a>
                    <div class="designation">CEO &amp; Founder</div>
                  </div>
                  <div class="share-icon-style-one">
                    <ul class="social-icons social-icons-with-bg">
                      <li>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      </li>
                    </ul>
                    <i class="fa-sharp fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- news -->
      <div class="tmp-news-area tmp-section-gap news-area d-none">
        <div class="container">
          <div class="menu-news">
            <div class="d-flex flex-row align-items-center">
              <div class="col-md-6">
                <h3 class="fs-40 fw-bold news-title ">Tin tức</h3>
              </div>
              <div class="col-md-6 margin-left-auto">
                <ul class="menu-news-list">
                  <li class="menu-item">
                    <a href="#" aria-current="page"
                      >Xem tất cả <i class="fa-solid fa-angle-double-right"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
<!--          <div class="post-features mb-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-lg-7 align-middle border-right hide-border-responsive border-grey">-->
<!--                <div class="single-news">-->
<!--                  <div class="news-inner row">-->
<!--                    <div class="thumbnail col-lg-7 p-0">-->
<!--                      <a href="#">-->
<!--                        <img-->
<!--                      th:src="@{/imgs/news/8-03-25/8-03-25-1.png}"-->
<!--                          alt="8-03-25-1"-->
<!--                        />-->
<!--                      </a>-->
<!--                      <div class="pmt-news-meta">-->
<!--                        <ul class="all-meta">-->
<!--                          <li class="date"><span>20</span></li>-->
<!--                          <li class="month"><span>THÁNG 1</span></li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="news-content col-lg-5">-->
<!--                      <div class="news-head">-->
<!--                        <span class="name">Tin tức</span>-->
<!--                        <span class="designation">Tin dự án</span>-->
<!--                      </div>-->
<!--                      <div class="news-body">-->
<!--                        <a href="news-details.html" class="title-area">-->
<!--                          <h4 class="title">-->
<!--                            Techgel mừng ngày quốc tế phụ nữ 8/3-->
<!--                          </h4>-->
<!--                        </a>-->
<!--                        <p class="description">-->
<!--                          Để chào mừng ngày lễ 8/3, Công ty Cổ phần Kỹ thuật Công nghệ Sài Gòn Techgel đã tổ chức buổi lễ dành riêng cho chị em nhằm tri ân những cống hiến của phái đẹp.-->
<!--                        </p>-->
<!--                      </div>-->
<!--                      <a class="btn-read-more" href="news-details.html">-->
<!--                        <span class="read-more-text">Đọc thêm</span>-->
<!--                        <span class="read-more-icon"-->
<!--                          ><i class="fa-solid fa-arrow-right"></i-->
<!--                        ></span>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="post-sidebar col-lg-5">-->
<!--                  <div class="item-post-sb">-->
<!--                    <div class="meta-post">-->
<!--                      <div class="date-post">-->
<!--                        <ul class="all-meta">-->
<!--                          <li class="date"><span>20</span></li>-->
<!--                          <li class="month"><span>THÁNG 1</span></li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                      <div class="post-info">-->
<!--                        <div class="post_info">-->
<!--                          <h5 class="fs-16 fw-bold">-->
<!--                            <a href="#"-->
<!--                              >TECHGEL – SỰ TRỞ LẠI MẠNH MẼ SAU KHỦNG HOẢNG</a-->
<!--                            >-->
<!--                          </h5>-->
<!--                          <a href="#" style="font-size: 12px"-->
<!--                            ><i-->
<!--                              >Xem thêm-->
<!--                              <i-->
<!--                                style="font-size: 9px"-->
<!--                                class="fa fa-angle-double-right"-->
<!--                              ></i-->
<!--                            ></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  -->
<!--                </div>-->
<!--                <div class="item-post-sb">-->
<!--                    <div class="meta-post">-->
<!--                      <div class="date-post">-->
<!--                        <ul class="all-meta">-->
<!--                          <li class="date"><span>20</span></li>-->
<!--                          <li class="month"><span>THÁNG 1</span></li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                      <div class="post-info">-->
<!--                        <div class="post_info">-->
<!--                          <h5 class="fs-16 fw-bold">-->
<!--                            <a href="#"-->
<!--                              >TECHGEL – NHÀ GA HÀNH KHÁCH T3 SÂN BAY TÂN-->
<!--                              SƠN NHẤT</a-->
<!--                            >-->
<!--                          </h5>-->
<!--                          <a href="#" style="font-size: 12px"-->
<!--                            ><i-->
<!--                              >Xem thêm-->
<!--                              <i-->
<!--                                style="font-size: 9px"-->
<!--                                class="fa fa-angle-double-right"-->
<!--                              ></i-->
<!--                            ></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item-post-sb">-->
<!--                    <div class="meta-post">-->
<!--                      <div class="date-post">-->
<!--                        <ul class="all-meta">-->
<!--                          <li class="date"><span>20</span></li>-->
<!--                          <li class="month"><span>THÁNG 1</span></li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                      <div class="post-info">-->
<!--                        <div class="post_info">-->
<!--                          <h5 class="fs-16 fw-bold">-->
<!--                            <a href="#"-->
<!--                              >Tái Chế Pin Mặt Trời: Quy Trình Tái Chế và Lợi-->
<!--                              Ích</a-->
<!--                            >-->
<!--                          </h5>-->
<!--                          <a href="#" style="font-size: 12px"-->
<!--                            ><i-->
<!--                              >Xem thêm-->
<!--                              <i-->
<!--                                style="font-size: 9px"-->
<!--                                class="fa fa-angle-double-right"-->
<!--                              ></i-->
<!--                            ></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <h4 class="text-center">Không tìm thấy tin tức.</h4>
        </div>
      </div>

      <!-- Testimonial -->
      <div class="testimonial-with-brand">
        <div class="testimonial-brand-area tmp-section-gapTop">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="testimonials-button-area">
                  <div class="section-head text-align-left">
                    <h4 class="section-sub-title split-collab-chars">
                      <span class="subtitle">
                        <img
                                data-sal-delay="200"
                                data-sal="fade"
                                data-sal-duration="800"
                                th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                                alt="Techgel"
                        />
                        [[${ aboutUsTestimonial.title_vi }]]</span>
                    </h4>
                  </div>
                  <div class="button-next-prev">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="swiper-style-one tmp-section-gapBottom">
                  <div class="swiper-container-style-two swiper-initialized swiper-horizontal swiper-backface-hidden"
                  >
                    <div class="swiper-wrapper">

                      <div th:each="item :${aboutUsTestimonialItems}" class="swiper-slide">
                        <div class="single-card card-horizontal">
                          <div class="card-inner">
                            <div class="content">
                              <p class="description">
                                [[${ item.description_vi }]]
                              </p>
                              <div class="content content-without-bg">
                                <div class="name">[[${ item.name_vi }]]</div>
                                <div class="designation">[[${ item.designation_vi }]]</div>
                              </div>
                            </div>
                            <div class="thumbnail">
                              <img
                                      th:src="@{${item.thumbnail_url}}"
                                      alt="Techgel"
                              />
                              <div class="icon icon-quote">
                                <i class="fa-solid fa-quote-left"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- partners & clients -->
      <div class="tmp-partner-area" style="position: relative; padding: 50px 0">
        <div class="container-full">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-head pb-3">
                <h4 class="section-sub-title center-title split-collab-words">

                  <span class="subtitle">
                    <img
                          data-sal-delay="200"
                          data-sal="fade"
                          data-sal-duration="800"
                          th:src="@{/imgs/small-icons/section-custom-menubar-blue.png}"
                          alt="Techgel"
                  />Đối tác và khách hàng</span>
                </h4>
              </div>
            </div>
          </div>
          <div class="partner-area-slider" >
              <div class="slide-track">
               <div th:each="logo : ${aboutUsClientPartnerItems}" class="slide">
                <img
                  th:src="${logo.getImage_url()}"
                  width="200"
                  height="200"
                  class="img-fluid"
                  th:alt="${logo.getTitle_vi()}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
