<!DOCTYPE html>
<html lang="en" th:replace="~{admin/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="content-wrapper" style="height: 100%;">
        <form id="whatWeDoServiceItems-form" th:action="@{/webadmin/what-we-do/our-business-lines/service-items/edit}" th:object="${whatWeDoServiceItems}" method="post">
            <div th:if="${errors}" th:each="error: ${errors}" class="alert alert-danger alert-dismissible fade show m-0" role="alert">
                <strong>[[${ message }]]!</strong> [[${ error.value }]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${errors == null and message != null}" class="alert alert-success alert-dismissible fade m-0" role="alert">
                <strong>[[${ message }]]!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" name="whatWeDoService" th:value="${whatWeDoService.id}">
            <div class="content-header clearfix" style="padding: 15px 1rem;">
                <h1 class="float-left">
                    [[${whatWeDoService.title_vi}]]
                    <small>
                        <i class="fas fa-arrow-circle-left"></i>
                        <a th:href="@{/webadmin/what-we-do/our-business-lines/service-items?id={id}(id=${whatWeDoService.id})}">Back</a>
                    </small>
                </h1>
                <div class="float-right">
                    <button type="submit" name="action" value="save" class="btn btn-primary">
                        <i class="far fa-floppy-disk"></i>
                        Save
                    </button>
                    <button th:unless="${#strings.contains(requestURI, 'create')}" type="submit" name="action" value="save-continue" class="btn btn-primary">
                        <i class="far fa-floppy-disk"></i>
                            Save and Continue Edit
                    </button>
                    <button th:unless="${#strings.contains(requestURI, 'create')}" type="button" value="Delete" data-type="whatWeDo-service-items" class="btn btn-danger btn-delete-whatWeDoService-items" th:data-id="${whatWeDoServiceItems.id}" th:data-parentId="${whatWeDoService.id}" data-toggle="modal" data-target="#delete-action-confirmation">
                        <i class="far fa-trash-can"></i>
                            Delete
                    </button>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <nop-card>
                            <div class="card card-secondary card-outline" data-card-name="category-display" data-hideattribute="CategoryPage.HideDisplayBlock" id="category-display"><div class="card-header with-border clearfix"><div class="card-title"><i class="fas fa-tv"></i>Display</div><div class="card-tools float-right"><button class="btn btn-tool" data-card-widget="collapse" type="button"><i class="fa toggle-icon fa-minus"></i></button></div></div>
                                <div class="card-body" style="display: block;">
                                    <div class="row">
                                        <div class="row form-group col-md-6">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label">Tiêu đề VI</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" th:field="*{title_vi}">
                                                <span class="field-validation-valid"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group col-md-6">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label">Tiêu đề EN</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" th:field="*{title_en}">
                                                <span class="field-validation-valid"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <div class="label-wrapper"><label class="col-form-label">Icon</label>
                                                <div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9" style="position:relative;">
                                            <input type="text" class="form-control" id="service-items-icon" th:field="*{icon}" readonly="readonly">
                                            <button type="button" class="btn btn-outline-danger mt-2" id="service-items-icon-clear"> Clear</button>
                                            <div id="emoji-picker" style="display: none;"></div>
                                            <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <div class="label-wrapper"><label class="col-form-label">Thứ tự hiển thị</label>
                                                <div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" data-val="true" data-val-required="The Display order field is required." th:field="*{displayOrder}"><input name="__Invariant" type="hidden" value="DisplayOrder"><input name="__Invariant" type="hidden" value="DisplayOrder">
                                            <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nop-card>
                    </div>
                </div>
            </section>
        </form>

        <th:block th:include="~{admin/fragments :: delete_modal}"></th:block>
        <div class="loading-wrapper" th:include="~{admin/fragments :: loading}" style="display: none;"></div>

    </main>
</body>
</html>