<!DOCTYPE html>
<html lang="en" th:replace="~{admin/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper">
      <div class="content-header clearfix" style="padding: 15px 1rem">
        <h3 class="float-left">Tổng quan /Giới thiệu</h3>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="form-horizontal">
            <div class="cards-group">
              <div
                th:if="${errors}"
                th:each="error: ${errors}"
                class="alert alert-danger alert-dismissible fade show m-0"
                role="alert"
              >
                <strong>[[${ message }]]!</strong> [[${ error.value }]]
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div
                th:if="${errors == null and message != null}"
                class="alert alert-success alert-dismissible fade m-0"
                role="alert"
              >
                <strong>[[${ message }]]!</strong>
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="card card-default">
                <div class="card-body">
                  <div class="dt-container dt-bootstrap4 dt-empty-footer">
                    <div
                      class="d-md-flex justify-content-between align-items-center col-12 dt-layout-full col-md"
                    >
                      <table
                        class="table table-bordered table-hover table-striped dataTable"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th
                              data-dt-column="1"
                              class="text-center dt-orderable-none"
                              rowspan="0"
                              colspan="1"
                            >
                              <div class="dt-scroll-sizing">
                                <span class="dt-column-title">Tiêu đề</span>
                                <span class="dt-column-order"></span>
                              </div>
                            </th>
                            <th
                              class="text-center dt-orderable-none"
                              data-dt-column="1"
                              rowspan="1"
                              colspan="1"
                            >
                              <div class="dt-scroll-sizing">
                                <span class="dt-column-title">Tiêu đề phụ</span>
                                <span class="dt-column-order"></span>
                              </div>
                            </th>
                            <th
                              class="text-center button-column dt-orderable-none"
                              data-dt-column="4"
                              rowspan="3"
                              colspan="1"
                            >
                              <div class="dt-scroll-sizing">
                                <span class="dt-column-title">Hành động</span>
                                <span class="dt-column-order"></span>
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="introduce: ${aboutUsIntroduce}">
                            <td class="text-center dt-type-numeric">
                              [[${introduce.title_vi}]]
                            </td>
                            <td class="text-center dt-type-numeric">
                              [[${introduce.subtitle_vi}]]
                            </td>
                            <td class="button-column">
                              <a
                                class="btn btn-default"
                                th:href="@{/webadmin/about-us/overview/introduce/edit?id={id}(id=${introduce.id})}"
                              >
                                <i class="fas fa-pencil"></i>&nbsp;Edit</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
