<!DOCTYPE html>
<html lang="en" th:replace="~{admin/index :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main class="content-wrapper" style="height: 100%;">
  <form th:action="@{/webadmin/home/e-profile/edit}" method="post" id="eprofile-form" th:object="${eProfile}" enctype="multipart/form-data">
    <div th:if="${errors}" th:each="error: ${errors}" class="alert alert-danger alert-dismissible fade show m-0" role="alert">
      <strong>[[${ message }]]!</strong> [[${ error.value }]]
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div th:if="${errors == null and message != null}" class="alert alert-success alert-dismissible fade m-0" role="alert">
      <strong>[[${ message }]]!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <input type="hidden" name="id" th:field="*{id}">
    <input type="hidden" th:field="*{image_url}">
    <input type="hidden" th:field="*{file_url}">
    <div class="content-header clearfix" style="padding: 15px 1rem;">
      <h1 class="float-left">
        E-Profile
        <small>
          <i class="fas fa-arrow-circle-left"></i>
          <a th:href="@{/webadmin/home/e-profile}">Back</a>
        </small>
      </h1>
      <div class="float-right">
        <button type="submit" name="action" value="save" class="btn btn-primary">
          <i class="far fa-floppy-disk"></i>
          Save
        </button>
        <button type="submit" name="action" value="save-continue" class="btn btn-primary">
          <i class="far fa-floppy-disk"></i>
          Save and Continue Edit
        </button>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="form-horizontal">
          <nop-card>
            <div class="card card-secondary card-outline" data-card-name="category-display" data-hideattribute="CategoryPage.HideDisplayBlock" id="category-display"><div class="card-header with-border clearfix"><div class="card-title"><i class="fas fa-tv"></i>Display</div><div class="card-tools float-right"><button class="btn btn-tool" data-card-widget="collapse" type="button"><i class="fa toggle-icon fa-minus"></i></button></div></div>
              <div class="card-body" style="display: block;">
                <div class="form-group row advanced-setting">
                  <div class="col-md-3">
                    <div class="label-wrapper">
                      <label class="col-form-label" for="Published">Hiển thị menu</label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <input checked="checked" class="check-box" data-val-required="The Published field is required." id="Published" type="checkbox" name="isPublished" th:field="*{published}">
                    <span class="field-validation-valid" data-valmsg-for="Published" data-valmsg-replace="true"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="row form-group col-md-6">
                    <div class="col-md-3">
                      <div class="label-wrapper"><label class="col-form-label">Tiêu đề Vi</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control" data-val="true" data-val-required="The Display order field is required." name="title_vi" th:field="*{title_vi}">
                      <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                    </div>
                  </div>
                  <div class="row form-group col-md-6">
                    <div class="col-md-3">
                      <div class="label-wrapper"><label class="col-form-label">Tiêu đề EN</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control" data-val="true" data-val-required="The Display order field is required." th:field="*{title_en}">
                      <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-2">
                    <div class="label-wrapper"><label class="col-form-label">Upload ảnh</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                  </div>
                  <div th:if="${eProfile.image_url == null or eProfile.image_url.isBlank()}" class="col-md-10" th:data-id="${eProfile.id}">
                    <input type="file" id="eprofile-image-filepond" class="filepond" name="image" data-allow-reorder="true" accept="image/png, image/jpeg">
                  </div>
                  <div th:if="${eProfile.image_url != null && not eProfile.image_url.isBlank()}" class="col-md-10 py-2" th:data-id="${eProfile.id}" style="border: 1px solid #ced4da;border-radius:.25rem">
                    <input type="hidden" name="image" th:value="${eProfile.image_url}">
                    <img th:src="'/uploads/' + ${eProfile.image_url}" alt="" style="max-height:100px;">
                    <input type="checkbox" name="image-delete"> Xóa ảnh
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-2">
                    <div class="label-wrapper"><label class="col-form-label">Upload file</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                  </div>
                  <div th:if="${eProfile.file_url == null or eProfile.file_url.isBlank()}" class="col-md-10" th:data-id="${eProfile.id}">
                    <input type="file" id="eprofile-file-filepond" class="filepond" name="file" data-allow-reorder="true" accept="application/pdf">
                  </div>
                  <div th:if="${eProfile.file_url != null && not eProfile.file_url.isBlank()}" class="col-md-10 d-flex flex-column py-2" th:data-id="${eProfile.id}" style="border: 1px solid #ced4da;border-radius:.25rem">
                    <input type="hidden" name="file">
                    <div>[[${eProfile.file_url}]]</div>
                    <div><input type="checkbox" name="file-delete"> Xóa file</div>
                  </div>
                </div>
              </div>
            </div>
          </nop-card>
        </div>
      </div>
    </section>
  </form>

  <div class="loading-wrapper" th:include="~{admin/fragments :: loading}" style="display: none;"></div>

  <script th:inline="javascript">
    const eProfileEditImageUrl = /*[[${eProfile.image_url}]]*/ '';
    const eProfileEditFileUrl = /*[[${eProfile.file_url}]]*/ '';
  </script>
</main>
</body>
</html>