<!DOCTYPE html>
<html lang="en" th:replace="~{/admin/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="content-wrapper" style="height: 100%;">
        <form th:action="@{/webadmin/home/navigation/edit}" method="post" th:object="${homeNavigation}">
            <input type="hidden" name="id" th:field="*{id}">
            <input type="hidden" name="parent" th:field="*{parent}">
            <div class="content-header clearfix" style="padding: 15px 1rem;">
                <h1 class="float-left">
                    <th:block th:if="${homeNavigation.parent}">[[${homeNavigation.parent.title_vi}]] >></th:block>
                    [[${homeNavigation.title_vi}]]
                    <small>
                        <i class="fas fa-arrow-circle-left"></i>
                        <a th:href="@{/webadmin/home/navigation}">Back</a>
                    </small>
                </h1>
                <div class="float-right">
                    <button type="submit" name="save" class="btn btn-primary">
                        <i class="far fa-floppy-disk"></i>
                        Save
                    </button>
                    <button type="submit" name="save-continue" class="btn btn-primary">
                        <i class="far fa-floppy-disk"></i>
                        Save and Continue Edit
                    </button>
                    <span id="category-delete" class="btn btn-danger" data-toggle="modal" data-target="#categorymodel-Delete-delete-confirmation">
                        <i class="far fa-trash-can"></i>
                        Delete
                    </span>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <nop-card>
                            <div class="card card-secondary card-outline" data-card-name="category-display" data-hideattribute="CategoryPage.HideDisplayBlock" id="category-display"><div class="card-header with-border clearfix"><div class="card-title"><i class="fas fa-tv"></i>Display</div><div class="card-tools float-right"><button class="btn btn-tool" data-card-widget="collapse" type="button"><i class="fa toggle-icon fa-minus"></i></button></div></div>
                                <div class="card-body" style="display: block;">
                                    <div class="form-group row advanced-setting">
                                        <div class="col-md-3">
                                            <div class="label-wrapper">
                                                <label class="col-form-label" for="Published">Hiển thị menu</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <input checked="checked" class="check-box" data-val-required="The Published field is required." id="Published" type="checkbox" name="isPublished" th:field="*{published}">
                                            <span class="field-validation-valid" data-valmsg-for="Published" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <div class="label-wrapper"><label class="col-form-label">Thứ tự hiển thị</label>
                                                <div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" data-val="true" data-val-required="The Display order field is required." name="displayOrder" th:field="*{displayOrder}"><input name="__Invariant" type="hidden" value="DisplayOrder"><input name="__Invariant" type="hidden" value="DisplayOrder">
                                            <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="row form-group col-md-6">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label" for="DisplayOrder">Tiêu đề VI</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-val="true" data-val-required="The Display order field is required." name="title_vi" th:field="*{title_vi}"><input name="__Invariant" type="hidden" value="DisplayOrder"><input name="__Invariant" type="hidden" value="DisplayOrder">
                                                <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group col-md-6">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label">Tiêu đề EN</label><div title="" data-toggle="tooltip" class="ico-help" data-original-title="Set the category's display order. 1 represents the top of the list."><i class="fas fa-circle-question"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" data-val="true" data-val-required="The Display order field is required." name="title_en" th:field="*{title_en}"><input name="__Invariant" type="hidden" value="DisplayOrder"><input name="__Invariant" type="hidden" value="DisplayOrder">
                                                <span class="field-validation-valid" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </nop-card>
                    </div>
                </div>
            </section>
        </form>
    </main>
</body>
</html>