<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper" style="overflow: hidden">
      <div class="project-banner">
        <img th:src="@{${project.image_url}}" class="img-fluid" th:alt="${project.title_vi}">
        <div class="meta-info">
          <div class="container">
            <div class="meta-inner">
              <h3 class="title fw-bold text-uppercase split-collab-words">
                  [[${ project.title_vi }]]
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="project-detail pb-5">
        <div class="project-info mb-md-5 mb-4">
          <div class="container">
            <div class="row gx-0">
              <div class="col-md-3">
                <div class="item">
                  <h5 class="fw-bold text-uppercase split-collab-chars">Khách hàng</h5>
                  <div>
                    [[${ project.client_name_vi }]]
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item">
                  <h5 class="fw-bold text-uppercase split-collab-chars">Địa điểm</h5>
                  <div>
                    [[${ project.location_vi }]]
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item">
                  <h5 class="fw-bold text-uppercase split-collab-chars">Phạm vi công việc</h5>
                  <div>
                    [[${ project.scope_of_work_vi }]]
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item">
                  <h5 class="fw-bold text-uppercase split-collab-chars">Thời gian</h5>
                  <div>
                    [[${ project.time_vi  }]]
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <h2 class="fs-50 fw-bold text-center">
                [[${ project.title_vi }]]
              </h2>
              <div class="description mb-md-5 mb-4 text-center">
                <p>[[${ project.description_vi }]]</p>
              </div>
            </div>
          </div>
          <div class="title_section" th:if="${not project.getProjectImageList().isEmpty()}">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h3 class="primary-color"><span>Ảnh dự án</span></h3>
              </div>
            </div>
          </div>
          <div class="overview_wrapper">

            <div class="slider_overview">
              <div class="item slick-slide" th:each="projectImage : ${project.getProjectImageList()}">
                <figure>
                  <a th:href="@{${projectImage.image_url}}" data-fancybox="overview">
                    <img th:src="@{${projectImage.image_url}}" class="img-fluid" th:alt="${project.title_vi}">
                  </a>
                </figure>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="view-more-wrapper pb-5">
        <a class="view-more-button" href="/projects" data-rocket-lazy-bg-04f3bbf1-6984-44d8-8a71-cd5605060b59="loaded">
          <span class="d-flex justify-content-center">
            <span class="d-flex ml-5">
				<svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
                  <path d="M0.799316 26.6011L26 1.40039" stroke="#5FD1C1" stroke-width="2"></path>
                  <path d="M3.31494 1.40039H25.9956V24.081" stroke="#5FD1C1" stroke-width="2"></path></svg>			</span>
            <span class="elementor-button-text">XEM THÊM DỰ ÁN</span>
		  </span>
        </a>
      </div>

    </main>
  </body>
</html>
