<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <main class="content-wrapper" style="overflow: hidden">
      <style>
        .breadcrumb-bg {
          background-image: url([[@{/imgs/banners/project-banner.webp}]]);
        }
        .line_img {
          height: 10px;
          background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center /
            auto 200%;
          flex-grow: 1;
        }
      </style>

      <div class="breadcrumb-area bg_image breadcrumb-bg">
        <div id="brxe-oubmqr" class="brxe-container">
          <div id="brxe-twzaik" class="brxe-block small-text-shadow">
            <div
              id="brxe-naxryb"
              class="brxe-text uni-text-outline-white uni-text-outline"
            >
              <h1 class="split-collab-words">DỰ ÁN</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="filter_projects py-md-2 py-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md">
              <div class="d-md-flex justify-content-between align-items-center">
                <ul>
                  <li th:class="${slug == null ? 'active' : ''}">
                    <a class="text-uppercase" th:href="@{/projects}">Tất cả</a>
                  </li>
                  <li th:class="${slug != null && slug == 'featured' ? 'active' : ''}">
                    <a class="text-uppercase" th:href="@{/projects/featured}">Nổi bật</a>
                  </li>
                  <li th:each="category: ${projectCategories}" th:class="${slug != null && slug == category.slug ? 'active' : ''}">
                    <a class="text-uppercase" th:href="@{'/projects/' + ${category.slug}}">[[${ category.name_vi }]]</a>
                  </li>
                </ul>
                <div class="filter" id="filter_projects-btn">
                  <a href="javascript:;" class="text-nowrap">
                    <i class="fa fa-sliders" aria-hidden="true"></i> Lọc
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="d-md-flex">
                <a
                  href=""
                  target="_blank"
                >
                  <i class="fa-solid fa-map-location-dot"></i>
                  Map dự án
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter_advance animate__animated animate__fadeIn">
        <div class="container">
          <form th:action="@{'/projects' + ${slug != null ? '/' + slug : ''}}" method="get" class="py-4">
            <div class="row align-items-center">
              <div class="col-md">
                <div class="row align-items-center">
                  <div class="col-md-2">
                    <h4 class="fs-20 fw-bold">Năm</h4>
                  </div>
                  <div class="col-md-10">
                    <ul>
                      <li th:each="year: ${#numbers.sequence(2022, currentYear)}">
                        <input

                          type="checkbox"
                          class="item_year"
                          name="years[]"
                          th:value="${year}"
                        />
                        <label>[[${year}]]</label>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <h4 class="fs-20 fw-bold mt-3 mt-md-0">Khu vực</h4>
                  </div>
                  <div class="col-md-10">
                    <ul>
                      <li th:each="region: ${regions}">
                        <input
                          th:checked="${regions_checked != null and #lists.contains(regions_checked, region.name())}"
                          type="checkbox"
                          class="item_regions"
                          name="regions[]"
                          th:value="${region.name()}"
                        />
                        <label>[[${region.getVietnameseName()}]]</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="mt-3 mt-md-0">
                  <input type="reset" class="btn btn-reset" value="Đặt lại" />
                  <input
                    type="submit"
                    class="btn btn-submit"
                    value="Xác nhận"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="next" class="project-listing container py-5">
        <div class="col-12 project-thumbnail">
          <div class="grid row">

            <div th:each="project: ${projects}"
              data-sal-delay="300"
              data-sal="zoom-in"
              data-sal-duration="800"
              class="grid_item">
              <a class="grid_box" th:href="@{'/project_details/' + ${project.id}}">
                <div class="grid_pic">
                  <picture>
                    <source th:srcset="@{${project.image_url}}" type="image/webp"/>
                    <img
                      th:src="@{${project.image_url}}"
                      th:alt="${project.title_vi}"
                      th:title="${project.title_vi}"
                    />
                  </picture>
                </div>
                <div class="info">
                  <div class="name">
                    <p>
                      <strong>[[${ project.title_vi }]]</strong>
                    </p>
                    <p>[[${ project.client_name_vi }]]</p>
                  </div>
                  <div class="province">[[${ project.location_vi }]]</div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>
