@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --themePrimary: #14245a;
  --themeSecondary: #da251a;
  --themeTertiary: #1ada85;
  --themeDarker: #80110f;
  --themeDark: #b11a14;
  --themeDarkAlt: #e01f17;
  --themeLight: #f5a6a1;
  --themeLighter: #fad4d2;
  --themeLighterAlt: #fef2f2;
  --secondaryDarker: #0f1a3f;
  --secondaryDark: #111f4f;
  --themeSecondary: #14245a;
  --secondaryLight: #3c5a96;
  --secondaryLighter: #9db5e1;
  --secondaryLighterAlt: #e6eefb;
  --tertiaryDarker: #128458;
  --tertiaryDark: #16b176;
  --tertiaryLight: #5ee0b1;
  --tertiaryLighter: #caf6e6;
  --tertiaryLighterAlt: #f2fefb;
  --black: #000000;
  --white: #ffffff;
  --neutralDark: #201f1e;
  --neutralPrimary: #323130;
  --neutralPrimaryAlt: #3b3a39;
  --neutralSecondary: #605e5c;
  --neutralTertiary: #a19f9d;
  --neutralTertiaryAlt: #c8c6c4;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralLight: #edebe9;
  --neutralLighter: #f3f2f1;
  --neutralLighterAlt: #faf9f8;
}

:root[data-theme=dark] {
  --themePrimary: #0C4DA2;
  --themeSecondary: #da251a;
  --themeTertiary: #1ada85;
  --themeDarker: #e34b3c;
  --themeDark: #d63c2e;
  --themeDarkAlt: #c23226;
  --themeLight: #94261e;
  --themeLighter: #7c1d18;
  --themeLighterAlt: #631713;
  --secondaryDarker: #C7DEF7;
  --secondaryDark: #6CA1E0;
  --secondaryLight: #2A6CC1;
  --secondaryLighter: #0A4090;
  --secondaryLighterAlt: #083573;
  --tertiaryDarker: #26c991;
  --tertiaryDark: #1cb87d;
  --tertiaryLight: #107652;
  --tertiaryLighter: #0c5b3f;
  --tertiaryLighterAlt: #083f2c;
  --black: #ffffff;
  --white: #121212;
  --neutralDark: #fafafa;
  --neutralPrimary: #d4d4d4;
  --neutralPrimaryAlt: #c2c2c2;
  --neutralSecondary: #a0a0a0;
  --neutralTertiary: #7d7d7d;
  --neutralTertiaryAlt: #5e5e5e;
  --neutralQuaternaryAlt: #434343;
  --neutralLight: #2d2d2d;
  --neutralLighter: #1e1e1e;
  --neutralLighterAlt: #151515;
}

:root {
  --alwaysWhite: #ffffff;
  --alwaysBlack: #000000;
  --alwaysPink: #f4b6b3;
  --alwaysGrey: #CCCCCC;
  --swiper-theme-color: var(--themeTertiary);
  --font-size-base: 1rem;
  --font-size-h1: 64px;
  --font-size-h2: 56px;
  --font-size-h3: 48px;
  --font-size-h4: 40px;
  --font-size-h5: 32px;
  --font-size-h6: 24px;
  /* Paragraphs */
  --font-size-p: 16px;
  --font-size-p-bold: 18px;
  --font-size-p-small: 14px;
  --font-size-p-small-bold: 14px;
  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Manrope", sans-serif;
}

@media (max-width: 63.9375rem) {
  :root {
    --font-size-p: 15px;
    --font-size-p-bold: 17px;
    --font-size-p-small: 13px;
    --font-size-p-small-bold: 13px;
    --font-size-h1: 60px;
    --font-size-h2: 56px;
    --font-size-h3: 48px;
    --font-size-h4: 40px;
    --font-size-h5: 32px;
    --font-size-h6: 24px;
  }
}
@media (max-width: 47.9375rem) {
  :root {
    --font-size-p: 14px;
    --font-size-p-bold: 16px;
    --font-size-p-small: 12px;
    --font-size-p-small-bold: 12px;
    --font-size-h1: 56px;
    --font-size-h2: 48px;
    --font-size-h3: 40px;
    --font-size-h4: 32px;
    --font-size-h5: 24px;
    --font-size-h6: 16px;
  }
}
@media (max-width: 35.625rem) {
  :root {
    --font-size-p: 13px;
    --font-size-p-bold: 15px;
    --font-size-p-small: 11px;
    --font-size-p-small-bold: 11px;
    --font-size-h1: 52px;
    --font-size-h2: 48px;
    --font-size-h3: 40px;
    --font-size-h4: 32px;
    --font-size-h5: 24px;
    --font-size-h6: 16px;
  }
}
.h1 {
  font-size: var(--font-size-h1);
}

.h2 {
  font-size: var(--font-size-h2);
}

.h3 {
  font-size: var(--font-size-h3);
}

.h4 {
  font-size: var(--font-size-h4);
}

.h5 {
  font-size: var(--font-size-h5);
}

.h6 {
  font-size: var(--font-size-h6);
}

html {
  width: fit-content;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-size-h1) !important;
}

h2 {
  font-size: var(--font-size-h2) !important;
}

h3 {
  font-size: var(--font-size-h3) !important;
}

h4 {
  font-size: var(--font-size-h4) !important;
}

h5 {
  font-size: var(--font-size-h5) !important;
}

h6 {
  font-size: var(--font-size-h6) !important;
}

.small-text-shadow {
  text-shadow: 8.4px 7.2px 8px rgb(218, 37, 26);
}

.border-right {
  border-right: 1px solid var(--black);
}

.border-grey {
  border-color: var(--alwaysGrey);
}

@media (max-width: 768px) {
  .hide-border-responsive {
    border: none;
  }
}

.margin-left-auto {
  margin-left: auto;
}

.align-middle {
  align-content: center;
}

.center {
  text-align: center;
}

.border-gradient {
  border-bottom: 0.25rem solid;
  border-image: linear-gradient(to right, white 0%, #aaa 12.5%, black 50%, #aaa 87.5%, white 100%);
  border-image-slice: 1;
}

.always-black {
  color: var(--alwaysBlack);
}

.only-light,
.only-dark {
  display: none !important;
}

html[data-theme=light] .only-light {
  display: block !important;
}

html[data-theme=dark] .only-dark {
  display: block !important;
}

.only-large-screen,
.only-tablet,
.only-mobile {
  display: none;
}

@media (min-width: 64rem) {
  .only-large-screen {
    display: block;
  }
}
@media (min-width: 40rem) and (max-width: 63.9988rem) {
  .only-tablet {
    display: block;
  }
}
@media (max-width: 39.9988rem) {
  .only-mobile {
    display: block;
  }
}
.content-wrapper {
  width: 100vw;
}

.about-area {
  background-color: var(--white);
}

.about-area-row .col-lg-6 {
  padding: 0;
}

.about-inner {
  padding-left: 48px;
}
@media (max-width: 62.5rem) {
  .about-inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
  }
}

.section-head .title {
  color: var(--themePrimary);
  font-size: var(--font-size-h2);
  line-height: 2.8125rem;
  margin-bottom: 0;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0 !important;
  font-family: var(--font-secondary);
}

.primary-button {
  min-width: 8.75rem;
  font-family: var(--font-primary);
  color: var(--alwaysWhite);
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05rem;
  border: 1px solid var(--black);
  padding: 0.6rem 2rem;
  background-color: var(--themePrimary);
  background-image: url("/svg/polygon_red.svg");
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: background-position 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.primary-button:hover {
  border-color: var(--themeTertiary);
  background-position: 40%;
  color: var(--alwaysWhite);
}
.primary-button::before, .primary-button::after {
  content: "";
  position: absolute;
  transition: background-color 0.15s ease-in-out;
}
.primary-button::before {
  background-color: var(--black);
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
}
.primary-button::after {
  background-color: var(--themeTertiary);
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
}
.primary-button:hover::before, .primary-button:hover::after {
  background-color: var(--white);
}

.lang-picker :hover {
  color: var(--themePrimary) !important;
  background-color: var(--white) !important;
}

.button-borders {
  position: relative;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
@media (max-width: 510px) {
  .button-borders {
    margin-right: 1.5rem;
    margin-left: 0;
  }
}
.button-borders::before, .button-borders::after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  left: -0.3em;
  border: 1px solid var(--black);
}
.button-borders::before {
  height: 50%;
  top: -0.3em;
  border-bottom: 0;
}
.button-borders::after {
  height: 50%;
  bottom: -0.3em;
  border-top: 0;
  z-index: 0;
}

.header-one .header-nav.main-nav-one {
  width: 100%;
}
.header-one .header-nav li .nav-link:hover {
  color: var(--themePrimary) !important;
}

@media (max-width: 69.1875rem) {
  .mid-header-center {
    display: none !important;
  }
}
.tmp-header-area-start {
  height: 5.3125rem;
  width: 100vw;
}
.tmp-header-area-start .menu-nav {
  align-items: center;
  justify-content: center;
}
.tmp-header-area-start .language-nav {
  justify-items: end;
}
@media (max-width: 78.125rem) {
  .tmp-header-area-start .language-nav {
    justify-items: center;
    width: 160px;
  }
}
.tmp-header-area-start.header-one {
  background-color: var(--white);
  border-bottom: 1.5008px solid var(--themeSecondary);
  box-shadow: 0px 7px 18px var(--themeSecondary);
}
.tmp-header-area-start.header-one .header-mida-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem 0;
}
.tmp-header-area-start.header-one .header-mida-area .mid-header-center {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: var(--alwaysWhite);
  width: 30rem;
  border-color: var(--alwaysBlack);
}
.tmp-header-area-start.header-one .header-mida-area .mid-header-center .input-area {
  display: flex;
  align-items: center;
  position: relative;
}
.tmp-header-area-start.header-one .header-mida-area .mid-header-center .input-area input {
  width: 28rem;
  height: 3.125rem;
  border-radius: 25px;
  border: none;
  padding: 0 0.9375rem;
  background-color: var(--alwaysWhite);
  color: var(--black);
}
@media (max-width: 69.1875rem) {
  .tmp-header-area-start.header-one .header-mida-area .mid-header-center .input-area {
    display: none;
  }
}
.tmp-header-area-start.header-one .header-mida-area .logo-area-start .logo {
  display: block;
  padding-left: 40px;
  padding-right: 2.5rem;
}
@media (max-width: 644px) {
  .tmp-header-area-start.header-one .header-mida-area .logo-area-start .logo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.tmp-header-area-start.header-two .header-mida-area.style-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3125rem 0;
}
.tmp-header-area-start.header-four .header-top-one {
  background: linear-gradient(to right, rgba(21, 1, 3, 0.83) 0%, rgba(0, 0, 0, 0.39) 100% s);
}
.tmp-header-area-start.header-four nav ul li a.nav-link {
  color: var(--white) !important;
  font-weight: var(--font-weight-regular) !important;
}
.tmp-header-area-start.header-four.sticky .header-top-one {
  display: none;
}
.tmp-header-area-start .has-dropdown.menu-item-open > a.nav-link {
  color: var(--themePrimary) !important;
}

.lang-picker .dropdown-menu {
  left: -23.2px !important;
  border: 1px solid var(--alwaysGrey);
  justify-content: center;
}
.lang-picker .dropdown-menu li {
  width: 100%;
}
.lang-picker .dropdown-item {
  width: 120px !important;
  place-self: center;
}

nav ul li.has-dropdown .submenu {
  min-width: 14.375rem;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  transition: 0.5s;
  transform: scaleY(0);
  border-radius: 0 0 0.625rem 0.625rem;
  background-color: var(--white);
  border-left: 0.0625rem solid rgba(255, 255, 255, 0.0784313725);
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.0784313725);
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.0784313725);
  display: inline-block;
  box-shadow: 0 2.25rem 2.1875rem rgba(0, 0, 0, 0.08);
  transform-origin: 0 0;
}

.has-dropdown .submenu li {
  position: relative;
  display: block;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0;
}

.has-dropdown .submenu li a {
  transition: 0.3s;
  display: block;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

nav ul li.has-dropdown .submenu li a {
  color: var(--black);
  font-weight: 600;
}

.has-dropdown .submenu li::after {
  position: absolute;
  content: "\f101";
  font-family: "fontawesome";
  font-size: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25rem;
  opacity: 0;
  transition: 0.2s;
  color: var(--themePrimary);
}

.has-dropdown .submenu li:hover::after {
  right: 0.625rem;
  opacity: 1;
}

.has-dropdown .submenu li a {
  background-color: var(--white);
  text-decoration: none;
}

.has-dropdown .submenu li:hover {
  color: var(--black);
}

.has-dropdown .submenu li:hover a {
  color: var(--themePrimary);
  border-bottom: 1px solid var(--themePrimary);
}

.input-area input[type=text] {
  border: none !important;
  outline: none !important;
}

.searchbar-icon {
  color: var(--alwaysBlack);
  cursor: pointer;
  padding-right: 15px;
}

.tmp-nav-area-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  height: 2.8125rem;
  position: relative;
  top: 0.2306rem;
  max-width: 100vw;
  margin: auto;
  padding: 0 2.75rem;
  background: var(--white);
  border-radius: 0 0 0.45rem 0.45rem;
  border-left: 7px solid var(--themeSecondary);
  border-right: 7px solid var(--themeSecondary);
  border-bottom: 1.5008px solid var(--themeSecondary);
  box-shadow: 0 7px 18px var(--themeSecondary);
  transition: all 0.3s ease;
}
.tmp-nav-area-one.is-sticky {
  position: fixed;
  z-index: 999;
  top: 0;
  justify-self: anchor-center;
}

nav ul li.has-dropdown .submenu {
  min-width: 230px;
  height: auto;
  position: absolute;
  top: 127%;
  left: 0;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  transition: 0.5s;
  transform: scaleY(0);
  border-radius: 0 0 10px 10px;
  background-color: var(--white);
  border-left: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784313725);
  border-right: 1px solid rgba(255, 255, 255, 0.0784313725);
  display: inline-block;
  box-shadow: 0 36px 35px rgba(0, 0, 0, 0.08);
  transform-origin: 0 0;
}

nav ul li.has-dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.counter_animation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  text-align: -webkit-center;
}
@media (max-width: 75rem) {
  .counter_animation {
    flex-direction: column;
  }
}

.counter__anim {
  padding: 45px;
  width: fit-content;
}

.counter-style-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 352px;
  height: 352px;
  border: 1px dashed #bbbbbb;
  border-radius: 50%;
  margin: -1.5rem;
  text-align: center;
}
@media (max-width: 1024px) {
  .counter-style-4 {
    width: 18rem;
    height: 18rem;
  }
}
@media (max-width: 768px) {
  .counter-style-4 {
    width: 14rem;
    height: 14rem;
  }
}
.counter-style-4 .counter-title {
  margin-top: 0.5rem;
  font-weight: var(--font-weight-regular);
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--secondaryDarker);
}
.counter-style-4 .title {
  font-size: clamp(2rem, 5vw, 3.4375rem);
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  color: var(--black);
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.counter-style-4 .title span {
  display: inline-block;
  color: var(--themePrimary);
}

.property-number {
  padding-right: 16px;
}

.banner-one-height-control {
  height: calc(100vh - 5.125rem);
}

.tmp-banner-area {
  min-height: 60vh;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.tmp-banner-swiper-one-area .swiper-slide-active .tmp-banner-area .inner .title {
  animation: fadeInUp2 1s linear;
  animation-delay: 0.8s;
  opacity: 1;
}

.banner-one-main-wrapper .inner .title {
  color: var(--alwaysWhite);
  transition-delay: 1.1s;
  opacity: 0;
}

.tmp-banner-swiper-one-area .swiper-slide-active .tmp-banner-area .inner span.sub-title {
  animation: fadeInUp2 1s linear;
  animation-delay: 0.5s;
  opacity: 1;
}

.banner-one-main-wrapper .inner span.sub-title {
  color: var(--alwaysWhite);
  display: block;
  opacity: 0;
  transition-delay: 0.5s;
}

.banner-box {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: flex-end;
  background: url("../../static/imgs/logo-01.png");
  border-left: 8.6px solid var(--themePrimary);
  box-shadow: 0 7px 18px var(--themePrimary);
  overflow: hidden;
}
.banner-box::before {
  content: "T";
  position: absolute;
  top: -188px;
  left: -8px;
  font-size: 480px;
  color: rgba(255, 0, 0, 0.316);
  font-weight: 900;
  z-index: 0;
  pointer-events: none;
}
.banner-box .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.banner-box .inner {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .banner-box {
    min-height: 180px;
  }
  .banner-box .title {
    font-size: 20px;
  }
  .banner-box .sub-title {
    font-size: 14px;
  }
}
.mySwiper-banner-one .swiper-button-prev::after,
.mySwiper-banner-one .swiper-button-next::after {
  height: 4.0625rem;
  min-width: 4.0625rem;
  background: var(--themeSecondary);
  border: 0.0625rem solid var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.375rem;
  color: var(--black);
  transition: 0.3s;
}
.mySwiper-banner-one .swiper-button-prev:hover::after,
.mySwiper-banner-one .swiper-button-next:hover::after {
  background: var(--themePrimary);
  color: var(--white);
  transform: scale(1.1);
  border: 0.0625rem solid transparent;
}
.mySwiper-banner-one .swiper-button-prev {
  right: 4.375rem;
  left: auto;
  margin-top: -4.375rem;
}
.mySwiper-banner-one .swiper-button-prev::after {
  content: "\f060";
  font-weight: 200;
  font-family: "fontawesome";
}
.mySwiper-banner-one .swiper-button-next {
  right: 4.375rem;
  margin-top: 1.25rem;
}
.mySwiper-banner-one .swiper-button-next::after {
  content: "\f061";
  font-weight: 200;
  font-family: "fontawesome";
}
@media (max-width: 75rem) {
  .mySwiper-banner-one .swiper-button-prev,
  .mySwiper-banner-one .swiper-button-next {
    top: auto;
    bottom: 1.25rem;
    margin-top: 0;
  }
  .mySwiper-banner-one .swiper-button-prev::after,
  .mySwiper-banner-one .swiper-button-next::after {
    height: 3.125rem;
    min-width: 3.125rem;
  }
  .mySwiper-banner-one .swiper-button-prev {
    left: calc(50% - 3.75rem);
    right: auto;
  }
  .mySwiper-banner-one .swiper-button-next {
    left: calc(50% + 0.625rem);
    right: auto;
  }
}

.mySwiper-project-1 .swiper-button-prev::after,
.mySwiper-project-1 .swiper-button-next::after {
  font-size: 1rem;
  color: var(--white);
  height: 3.125rem;
  min-width: 3.125rem;
  border-radius: 50%;
  background: var(--themePrimary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.mySwiper-project-1 .swiper-button-next {
  right: 3.75rem;
}
@media (max-width: 75rem) {
  .mySwiper-project-1 .swiper-button-prev,
  .mySwiper-project-1 .swiper-button-next {
    top: auto;
    bottom: 1.25rem;
    margin-top: 0;
  }
  .mySwiper-project-1 .swiper-button-prev::after,
  .mySwiper-project-1 .swiper-button-next::after {
    height: 3.125rem;
    min-width: 3.125rem;
  }
  .mySwiper-project-1 .swiper-button-prev {
    left: calc(50% - 3.75rem);
    right: auto;
  }
  .mySwiper-project-1 .swiper-button-next {
    left: calc(50% + 0.625rem);
    right: auto;
  }
}

.date-post {
  min-width: 96px;
  text-align: center;
}

.news-title {
  color: var(--themePrimary);
}

.news-body .title {
  display: block;
}

.img-thumbnail,
.thumbnail {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .footer-main.footer-style-one {
    text-align: center;
  }
  .single-post {
    justify-content: center;
  }
  .day-time {
    justify-self: center;
  }
  .social-icons.solid-social-icons {
    justify-content: center;
  }
}
.about-inner {
  place-items: center;
  margin: auto;
  padding-bottom: 24px;
}

.single-card.card-horizontal .card-inner {
  display: flex;
  height: 400px;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient(var(--white) 0%, rgba(255, 255, 255, 0.2) 100%);
}
.single-card.card-horizontal .card-inner .thumbnail {
  position: relative;
}
.single-card.card-horizontal .card-inner .thumbnail img {
  height: 210px;
  width: 144px;
  max-width: max-content;
  object-fit: cover;
}
.single-card.card-horizontal .card-inner .content .description {
  margin: 15px 30px 20px 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--black);
}
.single-card.card-horizontal .card-inner .content.content-without-bg .name {
  font-size: 21.6px;
  font-weight: 700;
  line-height: 17px;
  color: var(--black);
  font-family: var(--font-secondary);
}
.single-card.card-horizontal .card-inner .content.content-without-bg .designation {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--themePrimary);
  font-family: var(--font-secondary);
  margin-top: 10px;
}

.breadcrumb-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

div#brxe-rqhadm {
  padding: 0.3125rem 0.625rem;
  margin-bottom: 10px;
  background: var(--themePrimary);
  border-radius: 0.625rem;
  font-size: 20px;
}

#side-hide {
  position: fixed;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100vh;
  z-index: 1000;
  background: var(--white);
  box-shadow: 0 0.9375rem 2.5rem -0.3125rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}
#side-hide.show {
  transform: translateX(0);
}
#side-hide .top-area {
  background: linear-gradient(135deg, #ffffff 50%, #25247b 50%);
  border-top: 5px solid #25247b;
  border-bottom: 5px solid #25247b;
  padding: 1.875rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#side-hide .top-area .logo-area img {
  max-width: 9.375rem;
}
#side-hide .top-area .close-icon-area #close-slide__main {
  cursor: pointer;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
#side-hide .top-area .close-icon-area #close-slide__main i {
  color: var(--themePrimary);
}
#side-hide .body {
  position: relative;
  padding: 1.875rem;
}
#side-hide .body .title {
  font-size: 1.625rem;
  line-height: 1.5;
  text-transform: capitalize;
}
#side-hide .body p.disc {
  font-size: 1rem;
}
#side-hide .body .social-icons {
  margin-top: 6.25rem;
}
@media (max-width: 34.375rem) {
  #side-hide {
    width: 100vw;
  }
  #side-hide .top-area {
    padding: 1.25rem 0.9375rem;
  }
  #side-hide .top-area .logo-area img {
    max-width: 7.5rem;
  }
  #side-hide .top-area .close-icon-area #close-slide__main {
    width: 2.5rem;
    height: 2.5rem;
  }
  #side-hide .body {
    padding: 1.25rem;
  }
  #side-hide .body .title {
    font-size: 1.375rem;
  }
  #side-hide .body p.disc {
    font-size: 0.9375rem;
  }
}

.mobile-menu-main nav ul {
  padding: 0 20px;
  display: block;
}

.mobile-menu-main nav ul li.has-droupdown {
  position: relative;
}

.mobile-menu-main nav ul li {
  margin: 0;
  padding: 0;
}

.mobile-menu-main nav ul li a.main {
  padding: 12px 0 17px 0;
  border-bottom: 1px solid #f3f3f3;
  cursor: pointer;
}

.mobile-menu-main nav ul li a {
  display: block;
  color: #181010;
}

.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

.mobile-menu-main nav ul li.has-droupdown ul li {
  margin: 7px 0 !important;
  border-bottom: 1px solid #f3f3f3;
}

.mobile-menu-main nav ul li.has-droupdown ul a {
  padding: 10px 0;
}

.mobile-menu-main nav ul li.has-droupdown::after {
  position: absolute;
  content: "▼";
  font-size: 16px;
  right: 0;
  font-weight: 400;
  top: 5px;
  padding: 8px 13px;
  color: #fff;
  background: var(--themePrimary) !important;
  pointer-events: none;
  cursor: pointer;
}
