@media only screen and (max-width: 985px){
    .sd-area .commit-page .explainer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .tmp-header-area-start.header-one .header-mida-area {
        display: none;
    }

    #side-collups-nav {
        display: block;
    }

    .header-one .tmp-nav-area-one {
        top: 0;
        padding: 15px 20px;
    }

    .header-one .logo-md-sm-device {
        display: block;
    }

    .header-one .header-nav.main-nav-one {
        display: none;
    }

    .header-one .actions-area > .tmp-side-hide-area {
        display: block;
    }

    .header-one .actions-area > .lang-picker {
        display: none;
    }

    .mySwiper-banner-one {
        max-height: calc(100vh - 15px);
    }

    .tmp-header-area-start {
        height: 0;
    }

    .single-card.card-horizontal .card-inner {
        padding: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .commit-page .mobile {
        display: flex;
    }
    .commit-page .all {
        display: none!important;
    }
}

@media only screen and (max-width: 575px) {
    .single-card.card-horizontal .card-inner {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: flex-start;
    }
    .counter-style-4 {
        margin: auto;
        height: 250px;
        width: 250px;
    }

    .sd-area .commit-page .explainer {
        font-size: 0.5rem;
    }

    .olcards {
        display: none;
    }
}

@media (min-width: 50rem) {
    .commit-page-details ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }
    .commit-page-details ul::before {
        grid-column: 2;
    }
    .commit-page-details ul li:nth-child(odd) {
        grid-column: 1;
    }
    .commit-page-details ul li:nth-child(even) {
        grid-column: 3;
    }
    .commit-page-details ul li:nth-child(2) {
        grid-row: 2/4;
    }
    .commit-page-details ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }
    .commit-page-details ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    .commit-page-details ul li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}
