<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <th:block th:fragment="modal">
      <div
        class="modal fade"
        id="recruitment-details-modal"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content px-5">
            <div class="modal-body">
              <h4 class="text-center title"></h4>
              <div
                class="d-flex align-items-center justify-content-center"
                style="gap: 35px"
              >
                <ul>
                  <li><b>[[#{ quantity }]]:</b> <span class="quantity"></span></li>
                  <li><b>[[#{ qualification }]]:</b> <span class="qualification"></span></li>
                  <li><b>[[#{ experience }]]:</b> <span class="experience"></span></li>
                  <li><b>[[#{ salary }]]:</b> <span class="salary"></span></li>
                  <li><b>[[#{ workplace }]]:</b> <span class="workplace"></span></li>
                  <li>
                    <b>[[#{ expiration_date }]]:</b> <span class="expiration_date"></span>
                  </li>
                </ul>
              </div>
              <div class="description"></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="recruitment-details-modal"
              >
                [[#{ close }]]
              </button>
              <a
                href="#career_form"
                type="button"
                data-dismiss="recruitment-details-modal"
                class="btn btn-outline-success"
                >[[#{ submit_application }]]</a>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
