<!DOCTYPE html>
<html lang="en" th:replace="~{clients/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="content-wrapper">
        <style>
            .breadcrumb-bg {
                background-image: url(https://img.freepik.com/free-photo/girl-having-online-class-her-tablet_23-2148597998.jpg?t=st=1743481532~exp=1743485132~hmac=820117f584ed1d6f5bc6d9955d080132f00f13c317803ca06454c1692ef60533&w=1380);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display:flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100vh;
            }

            .bg-1 {
                background-image: url([[@{/imgs/bg-01.jpg}]]);
            }

            .line_img {
                height: 10px;
                background: url([[@{/imgs/stripe-title2.png}]]) repeat-x center center / auto 200%;
            }
        </style>

        <div class="breadcrumb-area bg_image breadcrumb-bg">
            <div id="brxe-oubmqr" class="brxe-container">
                <div id="brxe-twzaik" class="brxe-block">
                    <div id="brxe-naxryb" class="brxe-text uni-text-outline-white uni-text-outline">
                        <h1><span class="uni-text-outline"><br></span>LIÊN HỆ</h1>
                    </div>
                </div>
                <a id="brxe-ygpexj" href="#next" data-brx-anchor="true" class="brxe-block">
                    <div id="brxe-rqhadm" class="brxe-text-basic">Cuộn chuột</div>
                    <i id="brxe-flgaqk" class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>

        <div id="next" class="contact-area-three tmp-section-gapTop mb-5">
            <div class="bg-shape">
                <img th:src="@{/imgs/cta-02.png}" alt="bussiness-contact">
            </div>
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5">
                        <div class="contact-inner">
                            <div class="section-head section-head-one-side text-align-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="title">Liên hệ</span>
                                <p class="description">0
                                    Nội dung 1
                                </p>
                            </div>
                            <ul class="ft-link ft-link-style-three p-0" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                                <li>
                                    <div class="single-contact background-transparent">
                                        <div class="icon">
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <span>Hotline</span>
                                            <a class="contact-here" href="#">028 3510 7030</a>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div class="single-contact background-transparent">
                                        <div class="icon">
                                            <i class="fa-solid fa-envelope-open-text"></i>
                                        </div>

                                        <div class="content">
                                            <span>E-mail</span>
                                            <a class="contact-here" href="#">info@techgel.com</a>
                                        </div>

                                    </div>
                                </li>

                                <li>
                                    <div class="single-contact background-transparent">
                                        <div class="icon">
                                            <i class="fa-solid fa-map-location-dot"></i>
                                        </div>
                                        <div class="content">
                                            <span>Địa chỉ</span>
                                            <a class="contact-here" href="#">30 Phan Chu Trinh, Phường 2, Bình Thạnh, Hồ Chí Minh</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="tmp-tag-list tag-list-one" data-sal-delay="350" data-sal="slide-up" data-sal-duration="800">
                                <a class="tag-list" href="#">Facebook</a>
                                <a class="tag-list" href="#">Twitter</a>
                                <a class="tag-list" href="#">Linkedin</a>
                                <a class="tag-list" href="#">Skype</a>
                                <a class="tag-list" href="#">Pinterest</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="contact-inner">
                            <div class="section-head section-head-one-side text-align-left">
                                <span class="title">KẾT NỐI</span>
                                <p class="description">
                                    Nội dung 1
                                </p>
                            </div>
                            <div class="contact-form style-two">
                                <form action="" id="contact-form">
                                    <div class="contact-form-wrapper row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" name="contact-name" placeholder="Họ và tên" id="contact-name" type="text" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" name="contact-phone" placeholder="SĐT" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="input-field" name="contact-phone" placeholder="Email" type="email" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="input-field" placeholder="Nội dung cần hỗ trợ" name="contact-message" id="contact-message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-submit-group">
                                                <button name="submit" class="tmp-btn btn-primary" type="submit" id="submit">
                                                    Gửi thông tin
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center py-5" style="width: 100%;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1068867637746!2d106.7019151!3d10.803124999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cb2c9f3e89%3A0x6f989c07f1986191!2zQ8O0bmcgVHkgQ3AgS-G7uSBUaHXhuq10IEPDtG5nIE5naOG7hyBTw6BpIEfDsm4gKFRlY2hnZWwp!5e0!3m2!1sen!2s!4v1743481814117!5m2!1sen!2s" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>

</body>
</html>