<th:block th:fragment="fab">
    <div class="fab-wrapper">
        <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
        <label class="fab" for="fabCheckbox">
            <span class="fab-dots fab-dots-1"></span>
            <span class="fab-dots fab-dots-2"></span>
            <span class="fab-dots fab-dots-3"></span>
        </label>
        <div class="fab-wheel">
            <a class="fab-action fab-action-1">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="fab-action fab-action-2">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="fab-action fab-action-3">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="fab-action fab-action-4">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
</th:block>