<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="paginate">
        <ul class="pagination">
            <li class="page__btn"><i class="fa-solid fa-chevron-left"></i></li>
            <li class="page__numbers"> 1</li>
            <li class="page__numbers active">2</li>
            <li class="page__numbers">3</li>
            <li class="page__numbers">4</li>
            <li class="page__numbers">5</li>
            <li class="page__numbers">6</li>
            <li class="page__dots">...</li>
            <li class="page__numbers"> 10</li>
            <li class="page__btn active"><i class="fa-solid fa-chevron-right"></i></li>
        </ul>
    </th:block>
</body>
</html>