<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="side-hide">
        <div id="side-hide">
            <div class="top-area">
                <a href="index.html" class="logo-area">
                    <img th:src="@{/imgs/logos/logo.jpg}" alt="logo">
                </a>
                <div class="close-icon-area">
                    <div id="close-slide__main">
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </div>
            <div class="body">

                <div class="image-area-feature">
                    <img src="assets/images/sidebar/01.jpg" alt="sidebar">
                </div>
                <h5 class="title mt--30">Transforming your ideas into digital reality</h5>
                <p class="disc">
                    Sed ut perspiciatis unde omnis natus error voluptatem santium doloremque laudantium, totam rem aperiam, eaque.
                </p>
                <div class="short-contact-area-side-collups">
                    <!-- single contact information -->
                    <div class="single-contact-information-side">
                        <i class="fa-solid fa-phone"></i>
                        <div class="information">
                            <span>Call Now</span>
                            <a href="#" class="number">+92 (8800) - 98670</a>
                        </div>
                    </div>
                    <!-- single contact information end -->
                    <!-- single contact information -->
                    <div class="single-contact-information-side">
                        <i class="fa-light fa-envelope"></i>
                        <div class="information">
                            <span>Mail Us</span>
                            <a href="#" class="number">example@info.com</a>
                        </div>
                    </div>
                    <!-- single contact information end -->
                    <!-- single contact information -->
                    <div class="single-contact-information-side">
                        <i class="fa-sharp fa-light fa-location-dot"></i>
                        <div class="information">
                            <span>Our Address</span>
                            <a href="#" class="number">66 Broklyant, New York 3269</a>
                        </div>
                    </div>
                    <!-- single contact information end -->
                </div>
                <!-- social area start -->
                <ul class="social-icons solid-social-icons rounded-social-icons">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
                <!-- social area end -->
            </div>
            <!-- mobile menu area start -->
            <div class="mobile-menu-main">
                <nav class="nav-main mainmenu-nav mt--30">
                    <ul class="mainmenu metismenu" id="mobile-menu-active">
                        <li th:each="n, i: ${testNavigations}" th:class="${not subnavigations[i.index].isEmpty() ? 'has-droupdown' : ''}">
                            <a th:unless="${subnavigations[i.index].isEmpty()}" href="#" class="main">[[${#strings.toUpperCase(n.entrySet()[0].key)}]]</a>
                            <a th:if="${subnavigations[i.index].isEmpty()}" th:href="@{${n.entrySet()[0].value}}" class="main">[[${#strings.toUpperCase(n.entrySet()[0].key)}]]</a>
                            <ul class="submenu mm-collapse" th:if="${not subnavigations[i.index].isEmpty()}">
                                <th:block th:each="subs : ${subnavigations[i.index]}">
                                    <li th:each="sub : ${subs.entrySet()}">
                                        <a class="mobile-menu-link" th:href="@{${sub.value}}">[[${sub.key}]]</a>
                                    </li>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</body>
</html>