<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="side-hide">
        <div id="side-hide">
            <div class="top-area">
                <a href="index.html" class="logo-area">
                    <img th:src="@{/imgs/logos/logo.jpg}" alt="logo">
                </a>
                <div class="close-icon-area">
                    <div id="close-slide__main">
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </div>
            <div class="body">

                <div class="image-area-feature">
                    <img src="assets/images/sidebar/01.jpg" alt="sidebar">
                </div>
                <h5 class="title mt--30">Transforming your ideas into digital reality</h5>
                <p class="disc">
                    Sed ut perspiciatis unde omnis natus error voluptatem santium doloremque laudantium, totam rem aperiam, eaque.
                </p>
                <div class="short-contact-area-side-collups">
                    <!-- single contact information -->
                    <div class="single-contact-information-side">
                        <i class="fa-solid fa-phone"></i>
                        <div class="information">
                            <span>Call Now</span>
                            <a href="#" class="number">+92 (8800) - 98670</a>
                        </div>
                    </div>
                    <!-- single contact information end -->
                    <!-- single contact information -->
                    <div class="single-contact-information-side">
                        <i class="fa-light fa-envelope"></i>
                        <div class="information">
                            <span>Mail Us</span>
                            <a href="#" class="number">example@info.com</a>
                        </div>
                    </div>
                    <!-- single contact information end -->
                    <!-- single contact information -->
                    <div class="single-contact-information-side">
                        <i class="fa-sharp fa-light fa-location-dot"></i>
                        <div class="information">
                            <span>Our Address</span>
                            <a href="#" class="number">66 Broklyant, New York 3269</a>
                        </div>
                    </div>
                    <!-- single contact information end -->
                </div>
                <!-- social area start -->
                <ul class="social-icons solid-social-icons rounded-social-icons">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
                <!-- social area end -->
            </div>

            <!-- mobile menu area start -->
            <div class="d-flex p-3 justify-content-between" style="gap:20px;">
                <div class="actions-area">
                    <svg display="none">
                        <symbol id="light" viewBox="0 0 24 24">
                            <g stroke="currentColor" stroke-width="2" stroke-linecap="round">
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(0,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(45,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(90,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(135,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(180,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(225,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(270,12,12)" />
                                <line x1="12" y1="17" x2="12" y2="20" transform="rotate(315,12,12)" />
                            </g>
                            <circle fill="currentColor" cx="12" cy="12" r="5" />
                        </symbol>
                        <symbol id="dark" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M15.1,14.9c-3-0.5-5.5-3-6-6C8.8,7.1,9.1,5.4,9.9,4c0.4-0.8-0.4-1.7-1.2-1.4C4.6,4,1.8,7.9,2,12.5c0.2,5.1,4.4,9.3,9.5,9.5c4.5,0.2,8.5-2.6,9.9-6.6c0.3-0.8-0.6-1.7-1.4-1.2C18.6,14.9,16.9,15.2,15.1,14.9z" />
                        </symbol>
                    </svg>
                    <label class="switch">
                        <input class="switch__input theme-toggle" type="checkbox" role="switch" name="dark" />
                        <svg class="switch__icon" width="24px" height="24px" aria-hidden="true">
                            <use href="#light" />
                        </svg>
                        <svg class="switch__icon" width="24px" height="24px" aria-hidden="true">
                            <use href="#dark" />
                        </svg>
                        <span class="switch__inner"></span>
                        <span class="switch__inner-icons">
                      <svg class="switch__icon" width="24px" height="24px" aria-hidden="true">
                          <use href="#light" />
                      </svg>
                      <svg class="switch__icon" width="24px" height="24px" aria-hidden="true">
                          <use href="#dark" />
                      </svg>
                  </span>
                        <span class="switch__sr">Dark Mode</span>
                    </label>

                </div>
                <div class="button-borders m-0">
                    <a
                        th:href="@{/profile}"
                        target="_blank"
                        class="btn primary-button"
                    >E-PROFILE</a>
                </div>
            </div>
            <div class="mobile-menu-main">
                <nav class="nav-main mainmenu-nav mt--30">
                    <ul class="mainmenu metismenu" id="mobile-menu-active">
                        <li th:each="n, i: ${homeNavigations}" th:class="${not n.getChildrens.isEmpty() ? 'has-droupdown' : ''}">
                            <a th:unless="${n.getChildrens.isEmpty()}" href="#" class="main">[[${n.title_vi}]]</a>
                            <a th:if="${n.getChildrens.isEmpty()}" th:href="@{${n.slug}}" class="main">[[${n.title_vi}]]</a>
                            <ul class="submenu mm-collapse" th:if="${not n.getChildrens.isEmpty()}">
                                <li th:each="sub : ${n.getChildrens}">
                                    <a class="mobile-menu-link" th:href="@{${sub.slug}}">[[${sub.title_vi}]]</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</body>
</html>