<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="side-collups">
    <div id="side-collups" class="display">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="left-alt" class="icon glyph" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M19.87,8.13H13.74l.43-.66a2,2,0,0,0-.46-2.7L11.25,2.92a2,2,0,0,0-2.78.38L2.55,10.91a2,2,0,0,0,0,2.45L8.47,21a2,2,0,0,0,1.59.77,1.94,1.94,0,0,0,1.19-.4l2.46-1.84a2,2,0,0,0,.46-2.71l-.43-.66h6.13a2,2,0,0,0,2-2v-4A2,2,0,0,0,19.87,8.13Z" style="fill:#E42032"></path></g></svg>
    </div>
</body>
</html>